a
{
	text-decoration:none;
}

header
{
	padding: 0 3.5rem;
	z-index: 999;
	position: sticky;
	background-color: rgba(0,0,0,0.5);;
	width: 100%;
	left: 0;
	top: 0;
	height:8rem;
	margin-bottom:-10rem;
	backface-visibility: hidden;
	transition: transform 500ms;
	flex: 2;
	.container{
		border-bottom:1px solid rgba(255,255,255,0.75);
		display: flex;
		text-transform: uppercase;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
		line-height: 2.2em;
		justify-content: center;
		align-items: center;
		.logo
		{
			position: relative;
			left: 0;
			top: 0;
			padding: 2rem;
			z-index: 99;
			flex: 0;
			min-width: 140px;
			max-width: 140px;
			height: 8rem;
			display: flex;
			a
			{
				display: flex;
				width: 100%;
				height: 100%;
				img
				{
					width: 100%;
					object-fit: contain;
				}
			}
		}
		#burger{
			display:none;
		}
		#menu
		{
			flex:1;
			.flex();
			justify-content: flex-end;

			li
			{
				padding: 0.5rem 2.2rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				a
				{
					font-weight:300;
					color:white;
					transition:.3s all;
					position:relative;
				}
			}
		}
	}
	.contact{
		background-color: #EBDCD0;
		border:1px solid #EBDCD0;
		color: black;
		font-weight: 700;
		font-size: 1.3rem;
		letter-spacing: 0;
		padding: 0.3rem 1rem;
		transition:0.5s;
		&:hover{
			background:none;
			color:white;
		}
	}
}
.burger
{
	display: none;
	right:2rem;
	top:1.5rem;
	width:3rem;
	height:4rem;
	z-index: 999;

	span
	{
		top:50%;
		width:100%;
		height:2px;
		left:0;
		.absolute();
		transition:.3s all;

		&:after,&:before
		{
			content:'';
			.absolute();
			.w100();
			height:2px;
		}
		&:after
		{
			top:1rem;
		}
		&:before
		{
			bottom:1rem;
		}
	}

}
.burger.active
{
	span
	{
		transform: rotate(45deg);

		&:after
		{
			transform:rotate(-90deg);
			top:0;
		}
		&:before
		{
			opacity: 0;
		}
	}
}

@keyframes menu_effect
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@media all and (max-width:1580px){
	header .logo{min-width:250px; max-width:250px; }
	header .logo a{width:100%; height:100%;}
	header .logo a img{width:100%;}
	header #menu li{font-size:1.1rem; padding:0.5rem 1.5rem;}
	header #menu{justify-content:space-between;}
}

@media all and (max-width:1330px){
	header #menu li{font-size:1.0rem; padding:0.5rem 1rem;}
}

@media all and (max-width: 1200px)
{
	header{
		.phone{
			position:absolute;
			left:20px;
		}
		.contact{
			position:absolute;
			left:35px;
		}
		#menu{
			transition-delay: 0s;
			height: 0%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center !important;
			li{
				font-size:3rem;
				a{
					color:black !important;
				}
			}
		}
		input:checked ~ ul { 
			transition-delay: 0s;
			height: 100% !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center !important;
			li{
				margin: 15px 20px;
			}
			> ul {
				> li {
					opacity: 1;
					transition-delay: .5s;
					a{
						text-transform:uppercase;
					}
				}
			}
		} 
		label{
			&:before{
				content: "";
				position: absolute;
				left: -40%;
				top: -40%;
				width: 180%;
				height: 180%;
				background-color: rgba(0, 0, 0, 0.6);
			}
		}
		input + label {
			position: fixed;
			top: 30px;
			right: 40px;
			height: 20px;
			width: 20px;
			z-index: 9999;
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				top: 50%;
				margin-top: -1px;
				left: 0;
				display: block;
				background: white;
				transition: .5s;
			}
			span:first-child {
				top: 3px; 
			}
			span:last-child {
				top: 16px; 
			}      
		}
		input:checked + label { 
			span {
				background:white;
				opacity: 0;
				top: 50%;
			}
			span:first-child {
				opacity: 1;
				transform: rotate(405deg);
			}
			span:last-child {
				opacity: 1;
				transform: rotate(-405deg);
			}
		}   
		label:hover{
			cursor: pointer;
		}
		ul{
			background: white;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 0px;
			z-index: 9000;
			transition: .5s;
			transition-delay: .5s;
			overflow: hidden;
		}
		input:checked ~ ul{
			height:100%;
		} 
	}
}

@media screen and (max-width:500px){
	header #menu li{font-size:2.4rem;}
	header{padding:0 20px;}
	header .phone{display:none;}
	header .contact{left:20px; font-size:1.0rem; }
}