a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
s,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.inline-block,
ul.hack-inline > li {
  display: inline-block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.hack-inline {
  letter-spacing: -0.5em !important;
}
.hack-inline > * {
  letter-spacing: normal;
  display: inline-block;
}
.block {
  display: block;
}
.none {
  display: none;
}
.flex {
  display: flex;
  -webkit-display: -webkit-flex;
}
.flex > * {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.clear {
  clear: both;
}
.padding_top_0 {
  padding-top: 0 !important;
}
.padding_bottom_0 {
  padding-bottom: 0 !important;
}
.margin_top_0 {
  margin-top: 0 !important;
}
.margin_0_auto {
  margin: 0 auto;
}
.centerblock {
  margin: 0 auto;
  display: block;
}
.uppercase {
  text-transform: uppercase;
}
.justify {
  text-align: justify;
}
.photo {
  overflow: hidden;
  justify-content: center;
  object-position: 50% 50%;
}
.photo img {
  flex: 1;
  object-fit: cover;
}
.photo img.contain {
  object-fit: contain;
}
.centerX,
.centerXY,
.centerY {
  position: absolute;
}
.centerXY {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.centerX {
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.centerY,
.trigger:after {
  transform: translate(0, -50%);
}
.centerY {
  top: 50%;
  -webkit-transform: translate(0, -50%);
}
.grid_2 > .element {
  width: 50%;
}
.grid_3 > .element {
  width: 33.3%;
}
.grid_4 > .element {
  width: 25%;
}
.grid_5 > .element {
  width: 20%;
}
.flex_wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.align_content_center {
  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
}
.justify_center {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}
.flex_0 {
  flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
}
.flex_column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.element {
  position: relative;
}
.mailto {
  cursor: pointer;
}
.big_container {
  max-width: 160rem;
}
.small_container {
  max-width: 80rem;
}
.opa0 {
  opacity: 0;
}
.opa1 {
  opacity: 1;
}
.apparition {
  transition: all 1000ms;
}
.apparition.hide {
  opacity: 0;
}
.apparition_right.hide {
  transform: translate(15rem);
  -webkit-transform: translate(15rem);
}
.apparition_left.hide {
  transform: translate(-15rem);
  -webkit-transform: translate(-15rem);
}
.apparition_top.hide {
  transform: translate(0, -15rem);
  -webkit-transform: translate(0, -15rem);
}
.apparition_bottom.hide {
  transform: translate(0, 15rem);
  -webkit-transform: translate(0, 15rem);
}
.apparition_bottom {
  transform: translate(0);
  -webkit-transform: translate(0);
}
.apparition_top {
  transform: translate(0);
  -webkit-transform: translate(0);
}
.apparition_left {
  transform: translate(0);
  -webkit-transform: translate(0);
}
.apparition_right {
  transform: translate(0);
  -webkit-transform: translate(0);
}
.apparition_bottom_absolute {
  margin-top: 5rem;
}
.apparition_bottom_absolute.show {
  margin-top: 0;
}
.apparition_top_absolute {
  margin-bottom: 5rem;
}
.apparition_top_absolute.show {
  margin-bottom: 0;
}
.apparition_left_absolute {
  margin-right: 5rem;
}
.apparition_left_absolute.show {
  margin-right: 0;
}
.apparition_right_absolute {
  margin-left: 5rem;
}
.apparition_right_absolute.show {
  margin-left: 0;
}
.main.no_diapo {
  margin-top: 15rem;
}
.delay_0 {
  transition-delay: 0s !important;
  -webkit-transition-delay: 0s !important;
  transition: all 0s !important;
  -webkit-transition: all 0s !important;
}
.overflow {
  overflow: hidden;
}
.popup {
  width: 800px;
}
.popup.document {
  height: 90vh;
}
.popup.document > iframe {
  height: 100%;
}
.popup iframe {
  width: 100%;
}
.mw1000 {
  max-width: 100rem;
}
.mw1200 {
  max-width: 120rem;
}
.mw1600 {
  max-width: 160rem;
}
.mw800 {
  max-width: 80rem;
}
.mw900 {
  max-width: 90rem;
}
.w1 {
  width: 1%;
}
.h1 {
  height: 1%;
}
.mw1 {
  max-width: 1%;
}
.w2 {
  width: 2%;
}
.h2 {
  height: 2%;
}
.mw2 {
  max-width: 2%;
}
.w3 {
  width: 3%;
}
.h3 {
  height: 3%;
}
.mw3 {
  max-width: 3%;
}
.w4 {
  width: 4%;
}
.h4 {
  height: 4%;
}
.mw4 {
  max-width: 4%;
}
.w5 {
  width: 5%;
}
.h5 {
  height: 5%;
}
.mw5 {
  max-width: 5%;
}
.w6 {
  width: 6%;
}
.h6 {
  height: 6%;
}
.mw6 {
  max-width: 6%;
}
.w7 {
  width: 7%;
}
.h7 {
  height: 7%;
}
.mw7 {
  max-width: 7%;
}
.w8 {
  width: 8%;
}
.h8 {
  height: 8%;
}
.mw8 {
  max-width: 8%;
}
.w9 {
  width: 9%;
}
.h9 {
  height: 9%;
}
.mw9 {
  max-width: 9%;
}
.w10 {
  width: 10%;
}
.h10 {
  height: 10%;
}
.mw10 {
  max-width: 10%;
}
.w11 {
  width: 11%;
}
.h11 {
  height: 11%;
}
.mw11 {
  max-width: 11%;
}
.w12 {
  width: 12%;
}
.h12 {
  height: 12%;
}
.mw12 {
  max-width: 12%;
}
.w13 {
  width: 13%;
}
.h13 {
  height: 13%;
}
.mw13 {
  max-width: 13%;
}
.w14 {
  width: 14%;
}
.h14 {
  height: 14%;
}
.mw14 {
  max-width: 14%;
}
.w15 {
  width: 15%;
}
.h15 {
  height: 15%;
}
.mw15 {
  max-width: 15%;
}
.w16 {
  width: 16%;
}
.h16 {
  height: 16%;
}
.mw16 {
  max-width: 16%;
}
.w17 {
  width: 17%;
}
.h17 {
  height: 17%;
}
.mw17 {
  max-width: 17%;
}
.w18 {
  width: 18%;
}
.h18 {
  height: 18%;
}
.mw18 {
  max-width: 18%;
}
.w19 {
  width: 19%;
}
.h19 {
  height: 19%;
}
.mw19 {
  max-width: 19%;
}
.w20 {
  width: 20%;
}
.h20 {
  height: 20%;
}
.mw20 {
  max-width: 20%;
}
.w21 {
  width: 21%;
}
.h21 {
  height: 21%;
}
.mw21 {
  max-width: 21%;
}
.w22 {
  width: 22%;
}
.h22 {
  height: 22%;
}
.mw22 {
  max-width: 22%;
}
.w23 {
  width: 23%;
}
.h23 {
  height: 23%;
}
.mw23 {
  max-width: 23%;
}
.w24 {
  width: 24%;
}
.h24 {
  height: 24%;
}
.mw24 {
  max-width: 24%;
}
.w25 {
  width: 25%;
}
.h25 {
  height: 25%;
}
.mw25 {
  max-width: 25%;
}
.w26 {
  width: 26%;
}
.h26 {
  height: 26%;
}
.mw26 {
  max-width: 26%;
}
.w27 {
  width: 27%;
}
.h27 {
  height: 27%;
}
.mw27 {
  max-width: 27%;
}
.w28 {
  width: 28%;
}
.h28 {
  height: 28%;
}
.mw28 {
  max-width: 28%;
}
.w29 {
  width: 29%;
}
.h29 {
  height: 29%;
}
.mw29 {
  max-width: 29%;
}
.w30 {
  width: 30%;
}
.h30 {
  height: 30%;
}
.mw30 {
  max-width: 30%;
}
.w31 {
  width: 31%;
}
.h31 {
  height: 31%;
}
.mw31 {
  max-width: 31%;
}
.w32 {
  width: 32%;
}
.h32 {
  height: 32%;
}
.mw32 {
  max-width: 32%;
}
.w33 {
  width: 33%;
}
.h33 {
  height: 33%;
}
.mw33 {
  max-width: 33%;
}
.w34 {
  width: 34%;
}
.h34 {
  height: 34%;
}
.mw34 {
  max-width: 34%;
}
.w35 {
  width: 35%;
}
.h35 {
  height: 35%;
}
.mw35 {
  max-width: 35%;
}
.w36 {
  width: 36%;
}
.h36 {
  height: 36%;
}
.mw36 {
  max-width: 36%;
}
.w37 {
  width: 37%;
}
.h37 {
  height: 37%;
}
.mw37 {
  max-width: 37%;
}
.w38 {
  width: 38%;
}
.h38 {
  height: 38%;
}
.mw38 {
  max-width: 38%;
}
.w39 {
  width: 39%;
}
.h39 {
  height: 39%;
}
.mw39 {
  max-width: 39%;
}
.w40 {
  width: 40%;
}
.h40 {
  height: 40%;
}
.mw40 {
  max-width: 40%;
}
.w41 {
  width: 41%;
}
.h41 {
  height: 41%;
}
.mw41 {
  max-width: 41%;
}
.w42 {
  width: 42%;
}
.h42 {
  height: 42%;
}
.mw42 {
  max-width: 42%;
}
.w43 {
  width: 43%;
}
.h43 {
  height: 43%;
}
.mw43 {
  max-width: 43%;
}
.w44 {
  width: 44%;
}
.h44 {
  height: 44%;
}
.mw44 {
  max-width: 44%;
}
.w45 {
  width: 45%;
}
.h45 {
  height: 45%;
}
.mw45 {
  max-width: 45%;
}
.w46 {
  width: 46%;
}
.h46 {
  height: 46%;
}
.mw46 {
  max-width: 46%;
}
.w47 {
  width: 47%;
}
.h47 {
  height: 47%;
}
.mw47 {
  max-width: 47%;
}
.w48 {
  width: 48%;
}
.h48 {
  height: 48%;
}
.mw48 {
  max-width: 48%;
}
.w49 {
  width: 49%;
}
.h49 {
  height: 49%;
}
.mw49 {
  max-width: 49%;
}
.w50 {
  width: 50%;
}
.h50 {
  height: 50%;
}
.mw50 {
  max-width: 50%;
}
.w51 {
  width: 51%;
}
.h51 {
  height: 51%;
}
.mw51 {
  max-width: 51%;
}
.w52 {
  width: 52%;
}
.h52 {
  height: 52%;
}
.mw52 {
  max-width: 52%;
}
.w53 {
  width: 53%;
}
.h53 {
  height: 53%;
}
.mw53 {
  max-width: 53%;
}
.w54 {
  width: 54%;
}
.h54 {
  height: 54%;
}
.mw54 {
  max-width: 54%;
}
.w55 {
  width: 55%;
}
.h55 {
  height: 55%;
}
.mw55 {
  max-width: 55%;
}
.w56 {
  width: 56%;
}
.h56 {
  height: 56%;
}
.mw56 {
  max-width: 56%;
}
.w57 {
  width: 57%;
}
.h57 {
  height: 57%;
}
.mw57 {
  max-width: 57%;
}
.w58 {
  width: 58%;
}
.h58 {
  height: 58%;
}
.mw58 {
  max-width: 58%;
}
.w59 {
  width: 59%;
}
.h59 {
  height: 59%;
}
.mw59 {
  max-width: 59%;
}
.w60 {
  width: 60%;
}
.h60 {
  height: 60%;
}
.mw60 {
  max-width: 60%;
}
.w61 {
  width: 61%;
}
.h61 {
  height: 61%;
}
.mw61 {
  max-width: 61%;
}
.w62 {
  width: 62%;
}
.h62 {
  height: 62%;
}
.mw62 {
  max-width: 62%;
}
.w63 {
  width: 63%;
}
.h63 {
  height: 63%;
}
.mw63 {
  max-width: 63%;
}
.w64 {
  width: 64%;
}
.h64 {
  height: 64%;
}
.mw64 {
  max-width: 64%;
}
.w65 {
  width: 65%;
}
.h65 {
  height: 65%;
}
.mw65 {
  max-width: 65%;
}
.w66 {
  width: 66%;
}
.h66 {
  height: 66%;
}
.mw66 {
  max-width: 66%;
}
.w67 {
  width: 67%;
}
.h67 {
  height: 67%;
}
.mw67 {
  max-width: 67%;
}
.w68 {
  width: 68%;
}
.h68 {
  height: 68%;
}
.mw68 {
  max-width: 68%;
}
.w69 {
  width: 69%;
}
.h69 {
  height: 69%;
}
.mw69 {
  max-width: 69%;
}
.w70 {
  width: 70%;
}
.h70 {
  height: 70%;
}
.mw70 {
  max-width: 70%;
}
.w71 {
  width: 71%;
}
.h71 {
  height: 71%;
}
.mw71 {
  max-width: 71%;
}
.w72 {
  width: 72%;
}
.h72 {
  height: 72%;
}
.mw72 {
  max-width: 72%;
}
.w73 {
  width: 73%;
}
.h73 {
  height: 73%;
}
.mw73 {
  max-width: 73%;
}
.w74 {
  width: 74%;
}
.h74 {
  height: 74%;
}
.mw74 {
  max-width: 74%;
}
.w75 {
  width: 75%;
}
.h75 {
  height: 75%;
}
.mw75 {
  max-width: 75%;
}
.w76 {
  width: 76%;
}
.h76 {
  height: 76%;
}
.mw76 {
  max-width: 76%;
}
.w77 {
  width: 77%;
}
.h77 {
  height: 77%;
}
.mw77 {
  max-width: 77%;
}
.w78 {
  width: 78%;
}
.h78 {
  height: 78%;
}
.mw78 {
  max-width: 78%;
}
.w79 {
  width: 79%;
}
.h79 {
  height: 79%;
}
.mw79 {
  max-width: 79%;
}
.w80 {
  width: 80%;
}
.h80 {
  height: 80%;
}
.mw80 {
  max-width: 80%;
}
.w81 {
  width: 81%;
}
.h81 {
  height: 81%;
}
.mw81 {
  max-width: 81%;
}
.w82 {
  width: 82%;
}
.h82 {
  height: 82%;
}
.mw82 {
  max-width: 82%;
}
.w83 {
  width: 83%;
}
.h83 {
  height: 83%;
}
.mw83 {
  max-width: 83%;
}
.w84 {
  width: 84%;
}
.h84 {
  height: 84%;
}
.mw84 {
  max-width: 84%;
}
.w85 {
  width: 85%;
}
.h85 {
  height: 85%;
}
.mw85 {
  max-width: 85%;
}
.w86 {
  width: 86%;
}
.h86 {
  height: 86%;
}
.mw86 {
  max-width: 86%;
}
.w87 {
  width: 87%;
}
.h87 {
  height: 87%;
}
.mw87 {
  max-width: 87%;
}
.w88 {
  width: 88%;
}
.h88 {
  height: 88%;
}
.mw88 {
  max-width: 88%;
}
.w89 {
  width: 89%;
}
.h89 {
  height: 89%;
}
.mw89 {
  max-width: 89%;
}
.w90 {
  width: 90%;
}
.h90 {
  height: 90%;
}
.mw90 {
  max-width: 90%;
}
.w91 {
  width: 91%;
}
.h91 {
  height: 91%;
}
.mw91 {
  max-width: 91%;
}
.w92 {
  width: 92%;
}
.h92 {
  height: 92%;
}
.mw92 {
  max-width: 92%;
}
.w93 {
  width: 93%;
}
.h93 {
  height: 93%;
}
.mw93 {
  max-width: 93%;
}
.w94 {
  width: 94%;
}
.h94 {
  height: 94%;
}
.mw94 {
  max-width: 94%;
}
.w95 {
  width: 95%;
}
.h95 {
  height: 95%;
}
.mw95 {
  max-width: 95%;
}
.w96 {
  width: 96%;
}
.h96 {
  height: 96%;
}
.mw96 {
  max-width: 96%;
}
.w97 {
  width: 97%;
}
.h97 {
  height: 97%;
}
.mw97 {
  max-width: 97%;
}
.w98 {
  width: 98%;
}
.h98 {
  height: 98%;
}
.mw98 {
  max-width: 98%;
}
.w99 {
  width: 99%;
}
.h99 {
  height: 99%;
}
.mw99 {
  max-width: 99%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.mw100 {
  max-width: 100%;
}
.object-fit {
  object-fit: cover;
  object-position: 50% 50%;
}
html {
  font-size: 62.5%;
  color: #787878;
  /* font-size:10px;*/
}
body {
  font: 1.4rem/1.42 'Open Sans', sans-serif;
  overflow-x: hidden;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-size: 54px !important;
  text-transform: uppercase;
  font-weight: 200;
}
.align_content_right {
  align-content: right;
}
.text_right {
  text-align: right;
}
.top0 {
  top: 0;
}
.left0 {
  left: 0;
}
.right0 {
  right: 0;
}
.photo {
  justify-content: center;
  background: #ededed;
}
.photo > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.photo.loaded {
  opacity: 1;
}
.zones {
  overflow: hidden;
}
.loading {
  transition: 1s;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  animation: slide 0.5s linear forwards;
  animation-delay: 2s;
}
.loading .block {
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  position: absolute;
  top: 50%;
  height: 1%;
}
.loading .block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-bottom: 1px solid black;
}
.loading h1 {
  text-align: center;
  z-index: 99;
  left: 50%;
  top: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: rgba(0, 0, 0, 0.3);
  font-size: 8em;
  animation: top 1s linear forwards;
}
.loading h1:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 0;
  white-space: nowrap;
  color: #EBDCD0;
  animation: loading 1s linear forwards;
  animation-delay: 1s;
}
.loading .block2 {
  width: 50%;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 98;
  position: fixed;
  height: 50%;
}
.loading h2 {
  text-transform: capitalize !important;
  font-weight: normal !important;
  text-align: center;
  z-index: 97;
  left: 50%;
  top: 50%;
  width: 60%;
  transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
  position: fixed;
  color: rgba(0, 0, 0, 0.02);
  font-size: 8em !important;
  animation: bottom 1s linear forwards;
}
.loading h2:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 0;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.03);
  animation: loading 1s linear forwards;
  animation-delay: 1s;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes top {
  from {
    top: 50%;
    opacity: 0;
  }
  to {
    top: 45%;
    opacity: 1;
  }
}
@keyframes bottom {
  from {
    opacity: 0;
    top: 50%;
  }
  to {
    opacity: 1;
    top: 55%;
  }
}
@keyframes diseapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}
a {
  color: #000;
  transition: color 500ms;
}
@media screen and (max-width: 1660px) {
  h2 {
    font-size: 45px !important;
  }
  .loading h2,
  .loading h1 {
    font-size: 7em !important;
    width: 80%;
  }
  .loading .block {
    width: 80%;
  }
}
@media screen and (max-width: 1160px) {
  .loading h2,
  .loading h1 {
    font-size: 6em !important;
    width: 90%;
  }
  .loading .block {
    width: 95%;
  }
}
@media screen and (max-width: 850px) {
  h2 {
    font-size: 35px !important;
    line-height: normal !important;
  }
  .loading h2,
  .loading h1 {
    font-size: 4em !important;
  }
}
@media screen and (max-width: 570px) {
  h2 {
    font-size: 30px !important;
  }
  .loading h2,
  .loading h1 {
    font-size: 2.5em !important;
  }
  .loading .block {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .loading h2,
  .loading h1 {
    font-size: 1.8em !important;
  }
}
a {
  text-decoration: none;
}
header {
  padding: 0 3.5rem;
  z-index: 999;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  top: 0;
  height: 8rem;
  margin-bottom: -10rem;
  backface-visibility: hidden;
  transition: transform 500ms;
  flex: 2;
}
header .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 2.2em;
  justify-content: center;
  align-items: center;
}
header .container .logo {
  position: relative;
  left: 0;
  top: 0;
  padding: 2rem;
  z-index: 99;
  flex: 0;
  min-width: 140px;
  max-width: 140px;
  height: 8rem;
  display: flex;
}
header .container .logo a {
  display: flex;
  width: 100%;
  height: 100%;
}
header .container .logo a img {
  width: 100%;
  object-fit: contain;
}
header .container #burger {
  display: none;
}
header .container #menu {
  flex: 1;
  display: flex;
  -webkit-display: -webkit-flex;
  justify-content: flex-end;
}
header .container #menu li {
  padding: 0.5rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container #menu li a {
  font-weight: 300;
  color: white;
  transition: 0.3s all;
  position: relative;
}
header .contact {
  background-color: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0;
  padding: 0.3rem 1rem;
  transition: 0.5s;
}
header .contact:hover {
  background: none;
  color: white;
}
.burger {
  display: none;
  right: 2rem;
  top: 1.5rem;
  width: 3rem;
  height: 4rem;
  z-index: 999;
}
.burger span {
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.3s all;
}
.burger span:after,
.burger span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
}
.burger span:after {
  top: 1rem;
}
.burger span:before {
  bottom: 1rem;
}
.burger.active span {
  transform: rotate(45deg);
}
.burger.active span:after {
  transform: rotate(-90deg);
  top: 0;
}
.burger.active span:before {
  opacity: 0;
}
@keyframes menu_effect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media all and (max-width: 1580px) {
  header .logo {
    min-width: 250px;
    max-width: 250px;
  }
  header .logo a {
    width: 100%;
    height: 100%;
  }
  header .logo a img {
    width: 100%;
  }
  header #menu li {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
  }
  header #menu {
    justify-content: space-between;
  }
}
@media all and (max-width: 1330px) {
  header #menu li {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
@media all and (max-width: 1200px) {
  header .phone {
    position: absolute;
    left: 20px;
  }
  header .contact {
    position: absolute;
    left: 35px;
  }
  header #menu {
    transition-delay: 0s;
    height: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }
  header #menu li {
    font-size: 3rem;
  }
  header #menu li a {
    color: black !important;
  }
  header input:checked ~ ul {
    transition-delay: 0s;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }
  header input:checked ~ ul li {
    margin: 15px 20px;
  }
  header input:checked ~ ul > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }
  header input:checked ~ ul > ul > li a {
    text-transform: uppercase;
  }
  header label:before {
    content: "";
    position: absolute;
    left: -40%;
    top: -40%;
    width: 180%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  header input + label {
    position: fixed;
    top: 30px;
    right: 40px;
    height: 20px;
    width: 20px;
    z-index: 9999;
  }
  header input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: white;
    transition: 0.5s;
  }
  header input + label span:first-child {
    top: 3px;
  }
  header input + label span:last-child {
    top: 16px;
  }
  header input:checked + label span {
    background: white;
    opacity: 0;
    top: 50%;
  }
  header input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  header input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  header label:hover {
    cursor: pointer;
  }
  header ul {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    z-index: 9000;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  header input:checked ~ ul {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  header #menu li {
    font-size: 2.4rem;
  }
  header {
    padding: 0 20px;
  }
  header .phone {
    display: none;
  }
  header .contact {
    left: 20px;
    font-size: 1rem;
  }
}
footer {
  padding: 5rem 5%;
  background: #EBDCD0;
  color: black;
  overflow: hidden;
  font-size: 1.7rem;
  position: relative;
}
footer .rub {
  padding: 0;
  margin: 0;
  width: auto;
  text-align: left;
}
footer .bg {
  position: absolute;
  bottom: -70px;
  left: -70px;
  top: auto;
  right: auto;
  width: 20%;
  opacity: 0.15;
  transform: rotate(30deg);
}
footer a {
  transition: 0.5s;
  color: black;
}
footer a:hover {
  color: #FEBA01;
}
footer .ul {
  display: flex;
  justify-content: space-evenly;
}
footer .ul .col {
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}
footer .ul .col:first-child {
  text-align: center;
  margin-right: 5rem;
  padding: 0;
}
footer .ul .col:first-child .logo {
  width: 100%;
}
footer .ul .col:first-child .logo img {
  width: 50%;
}
footer .ul .col:first-child .logo .titre {
  text-transform: uppercase;
  margin-top: -5px;
}
footer .ul .col:first-child .logo .uptitre {
  text-transform: uppercase;
  margin: 0;
}
footer .ul .col:first-child .sous {
  font-weight: 300;
  font-size: 1.7rem;
  color: #666;
}
footer .ul .col:last-child {
  font-weight: 100;
}
footer .ul .col:last-child a {
  font-weight: 100;
}
footer .ul .col .rub {
  font-size: 2rem;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
footer .ul .col .cgv {
  text-transform: uppercase;
}
footer .ul .col .cgv:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  color: black;
}
footer .ul .col .loc {
  font-size: 1.6rem;
  text-align: left;
  line-height: 25px;
}
footer .ul .col .logo {
  display: inline-block;
}
footer .ul .col .coords li a {
  display: block;
}
footer .ul .col .coords .copy {
  vertical-align: 0;
  margin-right: 5px;
}
footer .ul .col .coords .social {
  margin-top: 10px;
}
footer .ul .col .coords .social li {
  display: inline-block;
  margin-right: 10px;
}
footer .ul .col .coords .social li .facebook:hover {
  color: #3B5998;
}
footer .ul .col .coords .social li .twitter:hover {
  color: #0bf;
}
footer .ul .col .coords .social li .insta:hover i {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
}
footer .ul .col .coords .social li .tripadvisor:hover {
  color: #00af87;
}
footer .ul .col .coords .social li i {
  font-size: 3rem;
}
footer .ul .col .edc {
  text-align: left;
  display: block;
  margin-bottom: 15px;
}
footer .ul .col .edc img {
  max-width: 180px;
}
@media screen and (max-width: 1770px) {
  footer .ul .col {
    padding: 0 3rem;
  }
}
@media all and (max-width: 1500px) {
  footer .ul .col {
    padding: 0 1rem;
    margin: 20px 0;
  }
  footer .ul .col .edc img {
    margin-right: 0;
  }
}
@media all and (max-width: 1200px) {
  footer .ul .col:first-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 1150px) {
  footer .ul .col:first-child .logo img {
    width: 170px;
  }
  footer .ul .col {
    text-align: center;
  }
  footer .rub {
    text-align: center;
  }
  footer .ul .col .edc {
    text-align: center;
  }
  footer {
    padding: 5rem 5%;
  }
  footer .ul {
    flex-wrap: wrap;
  }
  footer .ul .col {
    min-width: 50%;
    max-width: 50%;
  }
  footer .ul .col:first-child {
    min-width: 100%;
    max-width: 100%;
  }
  footer .ul .col:first-child .loc {
    text-align: center;
  }
}
@media all and (max-width: 650px) {
  footer {
    padding: 1rem 5%;
    text-align: center;
  }
  footer .rub {
    text-align: center;
  }
  footer .ul .col {
    width: 100%!important;
    max-width: 100%!important;
  }
  footer .ul .col .edc {
    text-align: center;
  }
  footer .ul .col:nth-child(3) {
    order: initial;
  }
}
@media screen and (max-width: 390px) {
  footer .ul .col {
    min-width: 100%;
    max-width: 100%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear2 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.diapo {
  height: 100vh;
}
.diapo .swiper-container {
  height: 100%;
  position: relative;
  width: 100%;
}
.diapo .swiper-container .bg {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.diapo .swiper-container .arrow {
  cursor: pointer;
  transition: transform 0.1s;
}
.diapo .swiper-container .arrow.swiper-button-prev:active {
  transform: translateX(50%) scaleX(-1);
}
.diapo .swiper-container .arrow-top,
.diapo .swiper-container .arrow-bottom {
  background-color: white;
  height: 1px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.diapo .swiper-container .arrow-top:after,
.diapo .swiper-container .arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.diapo .swiper-container .arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.diapo .swiper-container .arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.diapo .swiper-container .arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.diapo .swiper-container .arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.diapo .swiper-container .arrow:hover .diapo .swiper-container .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.diapo .swiper-container .arrow:hover .diapo .swiper-container .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.diapo .swiper-container .arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}
.diapo .swiper-container:before {
  color: white;
  font-size: 5rem;
}
.diapo .swiper-container .swiper-button-prev,
.diapo .swiper-container .swiper-button-next {
  background-image: none;
  z-index: 20;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 25px;
  transform: translateY(-50%);
}
.diapo .swiper-container .swiper-button-prev:hover:after,
.diapo .swiper-container .swiper-button-next:hover:after {
  width: 46px;
}
.diapo .swiper-container .swiper-button-prev:hover .arrow-top,
.diapo .swiper-container .swiper-button-next:hover .arrow-top,
.diapo .swiper-container .swiper-button-prev:hover .arrow-bottom,
.diapo .swiper-container .swiper-button-next:hover .arrow-bottom {
  transition: 0.5s ease-in-out;
  background-color: black;
  z-index: 99;
}
.diapo .swiper-container .swiper-button-prev:before,
.diapo .swiper-container .swiper-button-next:before {
  content: "";
  position: absolute;
  left: -20px;
  top: -10px;
  width: 45px;
  height: 45px;
  border: 1px solid white;
}
.diapo .swiper-container .swiper-button-prev:after,
.diapo .swiper-container .swiper-button-next:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -10px;
  width: 0px;
  height: 47px;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.diapo .swiper-container .swiper-button-prev {
  transform: scaleX(-1) translateY(-50%);
  left: 50px;
}
.diapo .swiper-container .swiper-button-next {
  right: 50px;
}
.diapo .swiper-container .swiper-button-disabled {
  display: none;
}
.diapo .swiper-container .swiper-wrapper {
  height: 100%;
}
.diapo .swiper-container .swiper-wrapper .photo {
  height: 100%;
}
.diapo .swiper-container .swiper-wrapper .photo img {
  height: 100%;
  width: 100%;
}
.diapo .swiper-container .text {
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.diapo .swiper-container .text .title {
  animation-duration: 5s;
  animation-name: appear2;
  transition: 1s;
  font-style: italic;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 1px;
}
.diapo .swiper-container .text .desc {
  text-transform: uppercase;
  animation-duration: 5s;
  animation-name: appear;
  transition: 1s;
  line-height: 105px;
  font-weight: 400;
  font-size: 8rem;
  font-weight: 200;
}
@media screen and (max-width: 1200px) {
  .diapo .swiper-container .text .title {
    font-size: 1.8rem;
  }
  .diapo .swiper-container .text .desc {
    font-size: 6rem;
    line-height: normal;
  }
}
@media screen and (max-width: 700px) {
  .diapo .swiper-container .swiper-button-prev,
  .diapo .swiper-container .swiper-button-next {
    top: 55%;
  }
  .diapo {
    height: 70vh;
  }
  .diapo .swiper-container .text {
    width: 60%;
  }
  .diapo .swiper-container .text .title {
    font-size: 1.8rem;
  }
  .diapo .swiper-container .text .desc {
    font-size: 2.9rem;
    line-height: normal;
  }
}
@media screen and (max-width: 490px) {
  .diapo .swiper-container .swiper-button-next {
    right: 15px;
  }
  .diapo .swiper-container .swiper-button-prev {
    left: 15px;
  }
  .diapo .swiper-container .text .title {
    font-size: 1.7rem;
  }
  .diapo .swiper-container .text .desc {
    font-size: 2.5rem;
    line-height: normal;
  }
}
.text_diapo {
  display: flex;
  padding: 100px 50px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.text_diapo.subtype2 .text {
  order: 2;
}
.text_diapo.subtype2 .swiper-container {
  order: 1;
}
.text_diapo .text {
  padding: 0 50px;
  position: relative;
  width: 45%;
}
.text_diapo .text h2 {
  color: black;
  font-weight: 200;
  padding-right: 50px;
  line-height: 60px;
}
.text_diapo .text p {
  margin-top: 30px;
  text-align: justify;
  font-size: 14px;
  line-height: 21px;
  color: black;
}
.text_diapo .text span {
  font-size: 20px;
  color: black;
}
.text_diapo .text .button {
  position: relative;
  position: absolute;
  border: 1px solid black;
  padding: 15px 20px;
  bottom: -90px;
}
.text_diapo .text .button .arrow {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  height: 20px;
  overflow: hidden;
  width: 20px;
  position: relative;
}
.text_diapo .text .button .arrow span {
  display: inline-block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.text_diapo .text .button .arrow span:first-child {
  transform: rotate(-45deg);
  transform-origin: top left;
}
.text_diapo .text .button .arrow span:last-child {
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.text_diapo .text .button .arrow:last-child {
  transform: scaleX(-1);
}
.text_diapo .swiper-container {
  height: 450px;
  flex: 1;
  padding: 0 50px;
  position: relative;
}
.text_diapo .swiper-container .bg {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.text_diapo .swiper-container .swiper-button-prev,
.text_diapo .swiper-container .swiper-button-next {
  background-image: none;
  z-index: 20;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 25px;
  transform: translateY(-50%);
}
.text_diapo .swiper-container .swiper-button-prev:before,
.text_diapo .swiper-container .swiper-button-next:before {
  content: "";
  position: absolute;
  left: -20px;
  top: -10px;
  width: 45px;
  height: 45px;
  border: 1px solid white;
}
.text_diapo .swiper-container .swiper-button-prev {
  transform: scaleX(-1) translateY(-50%);
  left: 50px;
}
.text_diapo .swiper-container .swiper-button-next {
  right: 50px;
}
.text_diapo .swiper-container .swiper-button-disabled {
  display: none;
}
.text_diapo .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.text_diapo .swiper-container .swiper-wrapper .photo {
  height: 100%;
}
.text_diapo .swiper-container .swiper-wrapper .photo img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1650px) {
  .text_diapo .text h2 {
    padding-right: 0;
  }
}
@media screen and (max-width: 1490px) {
  .text_diapo.subtype2,
  .text_diapo.subtype3 {
    padding: 50px 10px;
  }
  .text_diapo {
    padding: 50px 70px;
  }
  .text_diapo .text .title {
    padding-right: 0;
    font-size: 4rem;
  }
}
@media screen and (max-width: 1190px) {
  .text_diapo {
    flex-direction: column;
    flex-wrap: unset;
  }
  .text_diapo .text {
    width: 100%;
    padding: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .text_diapo .text .button {
    position: relative;
    width: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    bottom: unset;
  }
  .text_diapo .swiper-container {
    padding: unset;
    flex: unset;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .text_diapo .text .title {
    text-align: center;
  }
  .text_diapo .text span {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .text_diapo {
    padding: 50px 30px;
  }
  .text_diapo .text .button {
    margin: 20px auto;
  }
}
.block_d {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  height: 220px;
  justify-content: center;
  margin-top: -220px;
  z-index: 99;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
}
.block_d .element_block {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 49px;
}
.block_d .element_block:nth-child(2) {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.block_d .element_block .img {
  margin: 20px 0;
}
.block_d .element_block .img img {
  width: 40px;
}
.block_d .element_block .title {
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
}
.block_d .element_block span {
  margin: 15px 0;
}
.block_d .element_block a {
  background-color: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0;
  padding: 0.5rem 2.75rem;
  transition: 0.5s;
}
.block_d .element_block a:hover {
  background: none;
  color: black;
}
@media screen and (max-width: 1390px) {
  .block_d {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .block_d {
    width: 70%;
    margin-top: -60px;
    height: auto;
    flex-direction: column;
  }
  .block_d .element_block a {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 550px) {
  .block_d .element_block .img img {
    width: 50px;
  }
  .block_d .element_block .title {
    font-size: 2.2rem;
  }
  .block_d .element_block span {
    display: none;
  }
  .block_d .element_block a {
    font-size: 2rem;
    margin-top: 20px;
  }
}
@media screen and (max-width: 430px) {
  .block_d {
    width: 80%;
  }
}
.grid-item--width20 {
  width: 20%;
}
.grid-item--width22 {
  width: 22%;
}
.grid-item--width30 {
  width: 30%;
}
.grid-item--width40 {
  width: 40%;
}
.grid-item--width50 {
  width: 50%;
}
.grid-item--width56 {
  width: 56%;
}
.grid-item--width60 {
  width: 60%;
}
.grid-item--width100 {
  width: 100%;
}
.grid-item--ratio75 {
  padding-top: 75%;
}
.grid-item--ratio40 {
  padding-top: 50%;
}
.grid-item--ratio40 {
  padding-top: 40%;
}
.grid-item--ratio30 {
  padding-top: 30%;
}
.grid-item--ratio25 {
  padding-top: 25%;
}
.grid-item--ratio20 {
  padding-top: 20%;
}
.absolute_top_left {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery {
  margin: 50px 0;
}
.gallery .grid:after {
  content: '';
  display: block;
  clear: both;
}
.gallery .grid .grid-item.linked {
  position: relative;
}
.gallery .grid .grid-item.linked a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
}
.gallery .grid .grid-item {
  float: left;
  width: 20%;
  position: relative;
}
.gallery .grid .grid-item img {
  transition: 1s ease-in-out;
}
.gallery .grid .grid-item:hover .text {
  opacity: 1;
  z-index: 5;
  transition: 0.5s;
}
.gallery .grid .grid-item:hover img {
  transition: 1s ease-in-out;
  transform: scale(1.3);
}
.gallery .grid .grid-item .text {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.gallery .grid .grid-item .text p {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}
.gallery .grid .grid-item .photo {
  position: absolute;
  top: 0;
  left: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.gallery .grid .grid-item .photo a {
  width: 100%;
  height: 100%;
}
.gallery .grid .grid-item .photo img {
  opacity: 1;
  height: 100%;
  width: 100%;
}
.gallery .grid .grid-item:nth-child(6n - 5) {
  width: 56%;
  padding-top: 25%;
}
.gallery .grid .grid-item:nth-child(6n - 4) {
  width: 22%;
  padding-top: 25%;
}
.gallery .grid .grid-item:nth-child(6n - 3) {
  width: 22%;
  padding-top: 25%;
}
.gallery .grid .grid-item:nth-child(6n - 2) {
  width: 22%;
  padding-top: 25%;
}
.gallery .grid .grid-item:nth-child(6n - 1) {
  width: 22%;
  padding-top: 25%;
}
.gallery .grid .grid-item:nth-child(6n) {
  width: 56%;
  padding-top: 25%;
}
@media all and (max-width: 800px) {
  .gallery {
    display: none;
  }
  .gallery .grid .grid-item:nth-child(9n),
  .gallery .grid .grid-item:nth-child(9n - 1),
  .gallery .grid .grid-item:nth-child(9n - 2),
  .gallery .grid .grid-item:nth-child(9n - 3),
  .gallery .grid .grid-item:nth-child(9n - 4),
  .gallery .grid .grid-item:nth-child(9n - 5),
  .gallery .grid .grid-item:nth-child(9n - 6),
  .gallery .grid .grid-item:nth-child(9n - 7),
  .gallery .grid .grid-item:nth-child(9n - 8) {
    width: 100%;
    padding-top: 75%;
  }
}
.text_photo {
  display: flex;
  flex-wrap: wrap;
  min-height: 550px;
  flex-direction: row;
}
.text_photo.subtype2 .container {
  padding-right: 0;
  padding-left: 20%;
}
.text_photo.subtype2 .text {
  order: 1;
}
.text_photo.subtype2 .photo {
  order: 2;
}
.text_photo .text {
  flex: none;
  width: 50%;
  padding: 30px;
  background-color: #f4f4f4;
}
.text_photo .text .container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 65px 50px;
  padding-right: 20%;
}
.text_photo .text .container .title {
  width: 100%;
  padding-right: 260px;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text_photo .text .container span {
  font-size: 20px;
  color: black;
}
.text_photo .text .container p {
  margin-top: 30px;
  text-align: justify;
  font-size: 16px;
}
.text_photo .text .container a {
  background-color: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 0.7rem 4rem;
  transition: 0.5s;
  position: relative;
  width: 170px;
  display: block;
  margin-top: 40px;
}
.text_photo .text .container a:hover {
  background: none;
  color: black;
}
.text_photo .photo {
  flex: none;
  width: 50%;
  position: relative;
}
.text_photo .photo:after {
  content: "";
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  bottom: 30px;
  border: 1px solid white;
}
.text_photo .photo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1490px) {
  .text_photo .text .title {
    padding-right: 0;
    font-size: 4rem;
  }
}
@media screen and (max-width: 1090px) {
  .text_photo {
    flex-direction: column;
  }
  .text_photo .photo {
    width: 100%;
    height: 500px;
    order: 2;
  }
  .text_photo .text {
    width: 100%;
    order: 1;
  }
}
@media screen and (max-width: 690px) {
  .text_photo .text .container {
    padding-right: 30px;
    padding: 45px 30px;
  }
  .text_photo .text .container .title {
    text-align: center;
    padding-right: unset;
  }
  .text_photo .text .container span {
    display: block;
    text-align: center;
  }
  .text_photo .text .container a {
    margin: 20px auto;
    font-size: 2rem;
    width: unset;
    display: unset;
  }
}
.contact_form {
  position: relative;
}
.contact_form .bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.contact_form .bg .photo {
  opacity: 0.2;
  background-attachment: fixed!important;
  background-size: cover!important;
  background-position: 50% 50%!important;
  height: 100%;
}
.contact_form .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}
.contact_form .container .infos {
  font-size: 1.7rem;
  width: 40%;
  flex: none;
}
.contact_form .container .infos h2 {
  color: black;
  font-weight: 200;
  padding-right: 50px;
  line-height: 55px;
}
.contact_form .container .infos span {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  font-size: 20px;
  color: black;
}
.contact_form .container .form {
  width: 60%;
  flex: none;
}
.contact_form .container .form form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact_form .container .form form .form-group {
  flex: none;
  display: inline-block;
  width: 95%;
  margin-right: 5%;
  margin: 15px 0;
}
.contact_form .container .form form .form-group div {
  height: 100%;
}
.contact_form .container .form form .form-group div input,
.contact_form .container .form form .form-group div textarea {
  width: 100%;
  border: 1px solid black;
  background: none;
  padding: 25px 15px;
  height: 100%;
}
.contact_form .container .form form .form-group div input::placeholder,
.contact_form .container .form form .form-group div textarea::placeholder {
  color: black;
  font-size: 1.5rem;
}
.contact_form .container .form form .form-group:nth-child(5) {
  height: 150px;
}
.contact_form .container .form form .form-group:nth-child(6) input {
  width: 20px;
  padding: 0;
  position: relative;
  top: -5px;
}
.contact_form .container .form form .form-group:nth-child(6),
.contact_form .container .form form .form-group:nth-child(7) {
  width: 50%;
}
.contact_form .container .form form .form-group:nth-child(6) div,
.contact_form .container .form form .form-group:nth-child(7) div {
  display: flex;
  align-items: center;
}
.contact_form .container .form form .form-group:nth-child(8) button {
  background: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  padding: 10px 50px;
  font-size: 2rem;
  letter-spacing: 1px;
  transition: 0.5s;
}
.contact_form .container .form form .form-group:nth-child(8) button:hover {
  background: none;
  color: black;
}
.contact_form .container .form form .form-group:nth-child(1),
.contact_form .container .form form .form-group:nth-child(2),
.contact_form .container .form form .form-group:nth-child(3),
.contact_form .container .form form .form-group:nth-child(4) {
  width: 45%;
  margin-right: 5%;
}
@media screen and (max-width: 1450px) {
  .contact_form .container {
    width: 90%;
  }
}
@media screen and (max-width: 1090px) {
  .contact_form .container {
    flex-direction: column;
    align-items: center;
  }
  .contact_form .container .infos {
    width: 100%;
  }
  .contact_form .container .form {
    width: 100%;
  }
  .contact_form .container .form form .form-group div {
    text-align: center;
  }
}
@media screen and (max-width: 690px) {
  .contact_form .container .infos h2 {
    padding-right: 0;
  }
  .contact_form .container .infos {
    text-align: center;
  }
  .contact_form .container .form form .form-group {
    width: 100% !important;
  }
  .contact_form .container .form form .form-group:nth-child(6) div,
  .contact_form .container .form form .form-group:nth-child(7) div {
    justify-content: center;
  }
}
.listing_elem {
  margin-top: 20px;
}
.listing_elem .element_block {
  margin: 10px 0;
  padding: 55px 10%;
}
.listing_elem .element_block .top {
  margin: 0 245px;
  margin-bottom: 50px;
}
.listing_elem .element_block .top h2 {
  text-align: center;
}
.listing_elem .element_block .top span {
  margin: 30px auto;
  text-align: center;
  display: block;
  font-size: 1.8rem;
}
.listing_elem .element_block .top .text {
  font-size: 1.6rem;
  line-height: 21px;
  text-align: center;
}
.listing_elem .element_block .listing {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.listing_elem .element_block .listing .element {
  max-width: 60%;
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.listing_elem .element_block .listing .element .photo {
  position: relative;
  min-height: 450px;
  overflow: hidden;
}
.listing_elem .element_block .listing .element .photo img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.listing_elem .element_block .listing .element .bottom {
  flex: 1;
  padding: 25px 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #F4F4F4;
}
.listing_elem .element_block .listing .element .bottom .title {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}
.listing_elem .element_block .listing .element .bottom span {
  font-size: 1.8rem;
  margin: 15px 0;
}
.listing_elem .element_block .listing .element .bottom .desc {
  font-size: 1.6rem;
  line-height: 21px;
  text-align: center;
}
.listing_elem .element_block .listing .element .bottom a {
  margin-top: 40px;
  background-color: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  font-weight: 400;
  font-size: 2rem;
  flex: none;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  transition: 0.5s;
}
.listing_elem .element_block .listing .element .bottom a:hover {
  background: none;
}
.listing_elem .element_block:nth-child(2) {
  background-color: #F4F4F4;
}
.listing_elem .element_block:nth-child(2) .element .bottom {
  background: white;
}
@media screen and (max-width: 1390px) {
  .listing_elem .element_block {
    padding: 55px 2%;
  }
  .listing_elem .element_block .listing .element .photo {
    min-height: 340px;
  }
}
@media screen and (max-width: 1090px) {
  .listing_elem .element_block .top {
    margin: 0 25px;
  }
  .listing_elem .element_block .listing .element .bottom {
    padding: 25px;
  }
  .listing_elem .element_block .listing .element .bottom .desc {
    font-size: 1.4rem;
  }
  .listing_elem .element_block .listing {
    flex-direction: column;
    align-items: center;
  }
  .listing_elem .element_block .listing .element {
    max-width: 100%;
    margin: 20px 0;
  }
}
.listing_elem2 {
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.listing_elem2 .element {
  margin: 25px 0;
  max-width: 25%;
  min-width: 25%;
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.listing_elem2 .element .photo {
  width: 100%;
  height: 500px;
}
.listing_elem2 .element .photo img {
  width: 100%;
  height: 100%;
}
.listing_elem2 .element .text {
  flex-direction: column;
  flex: 1;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  width: 100%;
}
.listing_elem2 .element .text .title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}
.listing_elem2 .element .text span {
  margin: 10px 0;
  font-size: 2rem;
}
.listing_elem2 .element .text .desc {
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 1850px) {
  .listing_elem2 {
    padding: 0 2%;
  }
}
@media screen and (max-width: 1490px) {
  .listing_elem2 .element .text .title {
    text-align: center;
  }
  .listing_elem2 .element .text {
    padding: 30px 10px;
  }
  .listing_elem2 .element {
    max-width: 50%;
    min-width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .listing_elem2 .element {
    max-width: 100%;
    min-width: 100%;
  }
  .listing_elem2 .element .photo {
    height: 350px;
  }
}
.zone.contact {
  margin: 50px 0;
}
.zone.contact .top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0;
}
.zone.contact .top .name {
  font-weight: 600;
  font-size: 3.3rem;
  letter-spacing: 1px;
}
.zone.contact .top span {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  font-size: 2.2rem;
}
.zone.contact .top .infos {
  font-size: 2.2rem;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
.zone.contact .bottom {
  display: flex;
  flex-direction: row;
}
.zone.contact .bottom .gmap {
  flex: 1;
  position: relative;
}
.zone.contact .bottom .gmap:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  border: 1px solid white;
}
.zone.contact .bottom .gmap iframe {
  width: 100%;
  height: 100%;
}
.zone.contact .bottom .form {
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
}
.zone.contact .bottom .form .container {
  padding: 30px;
  background: white;
  z-index: 1;
}
.zone.contact .bottom .form .container h2 {
  padding: 10px;
  line-height: normal;
  padding-right: 50%;
}
.zone.contact .bottom .form .container span {
  padding: 10px;
  margin: 20px 0;
  display: block;
}
.zone.contact .bottom .form .container form {
  display: flex;
  flex-wrap: wrap;
}
.zone.contact .bottom .form .container form .form-group {
  flex: none;
  width: 50%;
  padding: 10px;
}
.zone.contact .bottom .form .container form .form-group input {
  width: 100%;
  background: #F4F4F4;
  color: black;
  border: none;
  padding: 20px 20px;
}
.zone.contact .bottom .form .container form .form-group input::placeholder {
  color: black;
  font-size: 1.8rem;
}
.zone.contact .bottom .form .container form .form-group textarea {
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: #F4F4F4;
  height: 200px;
}
.zone.contact .bottom .form .container form .form-group textarea::placeholder {
  color: black;
  font-size: 1.8rem;
}
.zone.contact .bottom .form .container form .form-group button {
  background: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  padding: 10px 50px;
  font-size: 2rem;
  letter-spacing: 1px;
  transition: 0.5s;
}
.zone.contact .bottom .form .container form .form-group button:hover {
  cursor: pointer;
  background: none;
  color: black;
}
.zone.contact .bottom .form .container form .form-group:nth-child(5) {
  width: 100%;
}
.zone.contact .bottom .form .container form .form-group:nth-child(6),
.zone.contact .bottom .form .container form .form-group:nth-child(7) {
  width: 50%;
  display: flex;
  align-items: center;
}
.zone.contact .bottom .form .container form .form-group:nth-child(6) input,
.zone.contact .bottom .form .container form .form-group:nth-child(7) input {
  width: unset;
}
.zone.contact .bottom .form .bg {
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.zone.contact .bottom .form .bg img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1100px) {
  .zone.contact .bottom .gmap {
    height: 400px;
  }
  .zone.contact .bottom {
    flex-direction: column;
  }
}
@media screen and (max-width: 790px) {
  .zone.contact .top .name {
    text-align: center;
  }
  .zone.contact .bottom .form .container h2 {
    padding-right: 0;
    text-align: center;
  }
  .zone.contact .bottom .form .container span {
    display: block;
    text-align: center;
  }
  .zone.contact .bottom .form .container form .form-group {
    width: 100% !important;
    justify-content: center;
  }
  .zone.contact .bottom .form .container form .form-group div {
    text-align: center;
  }
}
.tarif {
  margin: 50px 10%;
}
.tarif table tbody tr {
  font-size: 1.7rem;
}
.tarif table tbody tr:first-child {
  background: #F4F4F4;
  font-size: 2rem;
  font-weight: 700;
}
.tarif table tbody tr:first-child td {
  min-height: 100px;
  height: 100px !important;
}
.tarif table tbody tr:not(:first-child) td:not(:first-child) {
  border: 1px solid #F4F4F4;
}
.tarif table tbody tr td {
  vertical-align: middle;
  border: 1px solid white;
}
.tarif table tbody tr td:first-child {
  background: #EBDCD0;
}
@media screen and (max-width: 1290px) {
  .tarif {
    margin: 50px 1%;
  }
}
@media screen and (max-width: 950px) {
  .tarif table tbody tr:first-child {
    font-size: 1.5rem;
  }
  .tarif table tbody tr {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 690px) {
  .tarif table tbody tr:first-child {
    font-size: 1.2rem;
  }
  .tarif table tbody tr {
    font-size: 1.1rem;
  }
}
.texte_simple {
  background: #F4F4F4;
  text-align: center;
  padding: 50px 10%;
}
.texte_simple .title {
  font-weight: bold;
  font-size: 2.3rem;
}
.texte_simple span {
  font-size: 1.8rem;
  margin: 30px 0;
  display: block;
}
.texte_simple .desc {
  line-height: 27px;
  font-size: 1.6rem;
}
@media screen and (max-width: 490px) {
  .texte_simple {
    padding: 50px 5%;
  }
  .texte_simple .desc p {
    text-align: justify !important;
  }
}
.dispo {
  width: 80%;
  margin: 50px auto;
  position: relative;
  padding: 40px;
}
.dispo .bg {
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.dispo .bg img {
  width: 100%;
  height: 100%;
}
.dispo .container {
  background: white;
  padding: 40px;
}
.dispo .container h2 {
  padding-right: 50%;
}
.dispo .container span {
  display: block;
  margin: 20px 0;
}
.dispo .container form {
  display: flex;
  flex-wrap: wrap;
}
.dispo .container form .form-group {
  flex: none;
  width: 33.3%;
  padding: 10px;
}
.dispo .container form .form-group div {
  height: 100%;
}
.dispo .container form .form-group input {
  width: 100%;
  background: #F4F4F4;
  color: black;
  border: none;
  padding: 20px 20px;
  height: 100%;
}
.dispo .container form .form-group input::placeholder {
  color: black;
  font-size: 1.8rem;
}
.dispo .container form .form-group input.arrive {
  font-size: 1.8rem;
  content: attr(placeholder) !important;
}
.dispo .container form .form-group input.arrive:focus,
.dispo .container form .form-group input.arrive:valid:before {
  content: "";
}
.dispo .container form .form-group input.leave {
  font-size: 1.8rem;
  content: attr(placeholder) !important;
}
.dispo .container form .form-group input.leave:focus,
.dispo .container form .form-group input.leave:valid:before {
  content: "";
}
.dispo .container form .form-group input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right: 2.5em;
  font-size: 1.8rem;
}
.dispo .container form .form-group input[type="date"]:focus:before,
.dispo .container form .form-group input[type="date"]:valid:before {
  content: "";
}
.dispo .container form .form-group textarea {
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: #F4F4F4;
  height: 200px;
}
.dispo .container form .form-group textarea::placeholder {
  color: black;
  font-size: 1.8rem;
}
.dispo .container form .form-group select {
  width: 100%;
  background: #F4F4F4;
  color: black;
  border: none;
  padding: 20px 20px;
  height: 100%;
  font-size: 1.8rem;
}
.dispo .container form .form-group select option {
  color: black;
  font-size: 1.8rem;
}
.dispo .container form .form-group button {
  background: #EBDCD0;
  border: 1px solid #EBDCD0;
  color: black;
  padding: 10px 50px;
  font-size: 2rem;
  letter-spacing: 1px;
  transition: 0.5s;
}
.dispo .container form .form-group button:hover {
  cursor: pointer;
  background: none;
  color: black;
}
.dispo .container form .form-group:nth-child(1),
.dispo .container form .form-group:nth-child(2),
.dispo .container form .form-group:nth-child(4),
.dispo .container form .form-group:nth-child(5),
.dispo .container form .form-group:nth-child(7) {
  width: 30%;
}
.dispo .container form .form-group:nth-child(3),
.dispo .container form .form-group:nth-child(6) {
  width: 40%;
}
.dispo .container form .form-group:nth-child(8) {
  width: 100%;
}
.dispo .container form .form-group:nth-child(9),
.dispo .container form .form-group:nth-child(10) {
  width: 50%;
}
.dispo .container form .form-group:nth-child(9) input,
.dispo .container form .form-group:nth-child(10) input {
  width: unset;
  height: unset;
}
.dispo .container form .form-group:nth-child(10) {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1500px) {
  .dispo {
    width: 100%;
  }
  .dispo .container form .form-group input {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 1260px) {
  .dispo .container h2 {
    text-align: center;
    padding-right: 0;
  }
  .dispo .container span {
    text-align: center;
    display: block;
  }
  .dispo .container form .form-group {
    width: 100% !important;
    justify-content: center !important;
  }
  .dispo .container form .form-group div {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .dispo .container {
    padding: 25px;
  }
  .dispo .container form .form-group input {
    font-size: 1.5rem;
  }
  .dispo .container form .form-group select {
    font-size: 1.5rem;
  }
  .dispo .container form .form-group textarea {
    font-size: 1.5rem;
  }
  .dispo .container form .form-group .g-recaptcha {
    transform: scale(0.8);
  }
  .dispo .container form .form-group input[type="date"]:before {
    font-size: 1.4rem;
    margin-right: 1em;
  }
}
