@import "structure.less";

html { font-size: 62.5%; color:#787878;/* font-size:10px;*/}
body { font:1.4rem/1.42 'Open Sans', sans-serif; overflow-x: hidden;transition: all 150ms;-webkit-transition: all 150ms; color:black;}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;;
}

h2{
	font-size:54px !important;
	text-transform:uppercase;
	font-weight:200;
}
.align_content_right {
	align-content: right;}

	.text_right {text-align: right;}

	.top0 { top:0;}
	.left0 { left:0;}
	.right0{right:0}
	.photo {
		justify-content: center;
		background: #ededed;
		> img {
			object-fit: cover;
			object-position: 50% 50%;
		}
		&.loaded{
			opacity: 1;
		}
	}
	
	.zones{
		overflow:hidden;
	}
	.loading{
		transition:1s;
		z-index:9999;
		position:fixed;
		left:0;
		top:0;
		height:100%;
		width:100%;
		background-color:white;
		animation: slide 0.5s linear forwards;
		animation-delay:2s;
		.block{
			width: 60%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: white;
			z-index: 100;
			position: absolute;
			top: 50%;
			height: 1%;
			&:after{
				content:"";
				position:absolute;
				top:0;
				left:0;
				height:50%;
				width:100%;
				border-bottom:1px solid black;

			}
		}
		h1{
			text-align:center;
			z-index:99;
			left:50%;
			top:50%;
			width:60%;
			transform:translate(-50%,-50%);
			position: fixed;
			color: rgba(0, 0, 0, .3);
			font-size: 8em;
			animation: top 1s linear forwards;

		}

		h1:before {
			content: attr(data-text);
			position: absolute;
			overflow: hidden;
			max-width: 0;
			white-space: nowrap;
			color: #EBDCD0;
			animation: loading 1s linear forwards;
			animation-delay:1s;
		}
		.block2{
			width:50%;
			top:0%;
			left:50%;
			transform:translateX(-50%);
			background-color:white;
			z-index:98;
			position:fixed;
			height:50%;
		}
		h2{
			text-transform:capitalize !important;
			font-weight:normal !important;
			text-align:center;
			z-index:97;
			left:50%;
			top:50%;
			width:60%;
			transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
			position: fixed;
			color: rgba(0, 0, 0, .02);
			font-size: 8em !important;
			animation: bottom 1s linear forwards;

		}

		h2:before {
			content: attr(data-text);
			position: absolute;
			overflow: hidden;
			max-width: 0;
			white-space: nowrap;
			color: rgba(0, 0, 0, .03);
			animation: loading 1s linear forwards;
			animation-delay:1s;
		}
	}
	@keyframes slide {
		from {
			transform:translateX(0);
		}

		to {
			transform:translateX(-100%)

		}
	}
	@keyframes top {
		from {
			top:50%;
			opacity:0;
		}

		to {
			top:45%;
			opacity:1;

		}
	}
	@keyframes bottom {
		from {
			opacity:0;
			top:50%;
		}

		to {
			opacity:1;
			top:55%;

		}
	}
	@keyframes diseapear {
		from {
			opacity:1;
		}

		to {
			opacity:0;
		}
	}
	@keyframes loading {
		0% {
			max-width: 0;
		}
		100%{
			max-width:100%;
		}
	}

	a{
		color:#000;
		transition: color 500ms;
	}

@media screen and (max-width:1660px){
	h2{font-size:45px !important;}
	.loading h2, .loading h1{font-size:7em !important; width:80%;}
	.loading .block{width:80%;}
}

@media screen and (max-width:1160px){
	.loading h2, .loading h1{font-size:6em !important; width:90%;}
	.loading .block{width:95%;}
}

@media screen and (max-width:850px){
	h2{font-size:35px !important; line-height:normal !important; }
	.loading h2, .loading h1{font-size:4em !important; }
}	

@media screen and (max-width:570px){
	h2{font-size:30px !important; }
	.loading h2, .loading h1{font-size:2.5em !important; }
	.loading .block{width:80%;}
}

@media screen and (max-width:360px){
	.loading h2, .loading h1{font-size:1.8em !important; }
}
@import "import.less";
