.block_d{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 50%;
	margin: 0 auto;
	height: 220px;
	justify-content: center;
	margin-top: -220px;
	z-index: 99;
	background-color: white;
	-webkit-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
	-moz-box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
	box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.86);
.element_block{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 49px;
	&:nth-child(2){
		border:1px solid rgba(0,0,0,0.1);
	}
	.img{
		margin:20px 0;
		img{
			width:40px;
		}
	}
	.title{
		text-transform:uppercase;
		font-size:1.6rem;
		text-align:center;
	}
	span{
		margin:15px 0;
	}
	a{
		background-color: #EBDCD0;
		border:1px solid #EBDCD0;
		color: black;
		font-weight: 500;
		font-size: 1.3rem;
		letter-spacing: 0;
		padding:0.5rem 2.75rem;
		transition:0.5s;
		&:hover{
			background:none;
			color:black;
		}
	}
}
}

@media screen and (max-width:1390px){
	.block_d{width:80%;}
}

@media screen and (max-width:850px){
	.block_d{width:70%;margin-top:-60px; height:auto; flex-direction:column;}
	.block_d .element_block a{font-size:1.8rem;}
}

@media screen and (max-width:550px){
	.block_d .element_block .img img{width:50px;}
	.block_d .element_block .title{font-size:2.2rem;}
	.block_d .element_block span{display:none;}
	.block_d .element_block a{font-size:2rem; margin-top:20px}
}

@media screen and (max-width:430px){
	.block_d{ width:80%; }
}