.contact_form{
	position:relative;
	.bg{
		position:absolute;
		left:0;
		top:0;
		z-index:-1;
		width:100%;
		height:100%;
		.photo{
			opacity:0.2;
			background-attachment: fixed!important;
			background-size: cover!important;
			background-position: 50% 50%!important;
			height:100%;
		}
	}
	.container{		
		display:flex;
		justify-content:center;
		flex-direction:row;	
		width:70%;
		margin:0 auto;
		padding:50px 0;
		.infos{
			font-size:1.7rem;
			width:40%;
			flex:none;			
			h2{
				color:black;
				font-weight:200;
				padding-right:50px;
				line-height:55px;
			}
			span{
				margin-top:30px;
				margin-bottom:30px;
				display:block;
				font-size:20px; 
				color:black;
			}
		}
		.form{
			width:60%;
			flex:none;
			form{
				display:flex;
				flex-direction:row;
				flex-wrap:wrap;
				.form-group{
					flex:none;
					display:inline-block;
					width:95%;
					margin-right:5%;
					margin:15px 0;
					div{
						height:100%;
						input, textarea{
							width:100%;
							border:1px solid black;
							background:none;
							padding:25px 15px;
							height:100%;
							&::placeholder{
								color:black;
								font-size:1.5rem;
							}
						}
					}
					&:nth-child(5){
						height:150px;
					}
					&:nth-child(6){
						input{
							width: 20px;
							padding: 0;
							position: relative;
							top: -5px;
						}
					}
					&:nth-child(6), &:nth-child(7){
						width:50%;
						div{
							display:flex;
							align-items:center;
						}
					}
					&:nth-child(8){
						button{
							background: #EBDCD0;
							border: 1px solid #EBDCD0;
							color: black;
							padding: 10px 50px;
							font-size: 2rem;
							letter-spacing: 1px;
							transition:0.5s;
							&:hover{
								background:none;
								color:black;
							}
						}
					}
				}
				.form-group:nth-child(1), .form-group:nth-child(2), .form-group:nth-child(3), .form-group:nth-child(4),{
					width:45%;
					margin-right:5%;
				}
			}
		}
	}
}

@media screen and (max-width:1450px){
	.contact_form .container{width:90%;}

}

@media screen and (max-width:1090px){
	.contact_form .container{flex-direction:column; align-items:center;}
	.contact_form .container .infos{width:100%;}
	.contact_form .container .form{width:100%;}
	.contact_form .container .form form .form-group div{text-align:center;}
}

@media screen and (max-width:690px){
	.contact_form .container .infos h2{padding-right:0;}
	.contact_form .container .infos{text-align:center;}
	.contact_form .container .form form .form-group{width:100% !important;}
	.contact_form .container .form form .form-group:nth-child(6) div, .contact_form .container .form form .form-group:nth-child(7) div{justify-content:center;}

}