	@keyframes appear {
		from {
			opacity:0;
			transform:translateY(50px);
		}

		to {
			opacity:1;
			transform:translateY(0px);
		}
	}
	@keyframes appear2 {
		from {
			opacity:0;
			transform:translateY(-50px);
		}

		to {
			opacity:1;
			transform:translateY(0px);
		}
	}
	@transition-time: .15s;
	.diapo{
		height:100vh;
		.swiper-container{
			height:100%;
			position:relative;
			width:100%;
			.bg{
				position:absolute;
				z-index:2;
				background-color:rgba(0,0,0,0.3);
				left:0;
				top:0;
				width:100%;
				height:100%;
			}	
			.arrow {
				cursor: pointer;
				transition: transform .1s;
				&.swiper-button-prev{
					&:active {
						transform: translateX(50%)  scaleX(-1);
					}
				}
				&-top,&-bottom {
					background-color: white;
					height: 1px;
					left: -5px;
					position: absolute;
					top: 50%;
					width: 100%;
					&:after {
						background-color: #fff;
						content: '';
						height: 100%;
						position: absolute;
						top: 0;
						transition: all @transition-time;
					}
				}

				&-top {
					transform: rotate(45deg);
					transform-origin: bottom right;
					&:after {
						left: 100%;
						right: 0;
						transition-delay: 0s;
					}
				}

				&-bottom {
					transform: rotate(-45deg);
					transform-origin: top right;
					&:after {
						left: 0;
						right: 100%;
						transition-delay: @transition-time;
					}
				}

				&:hover & {
					&-top:after {
						left: 0;
						transition-delay: @transition-time;
					}
					&-bottom:after {
						right: 0;
						transition-delay: 0s;
					}
				}
				&:active {
					transform: translateX(-50%) translateY(-50%) scale(0.9);
				}
			} 
			&:before{
				color:white;
				font-size:5rem;
			}
			.swiper-button-prev, .swiper-button-next{
				background-image:none;
				z-index:20;
				position:absolute;
				top:50%;
				width:15px;
				height:25px;
				transform:translateY(-50%);
				&:hover{
					&:after{
						width:46px;
					}
					.arrow-top, .arrow-bottom{
						transition:0.5s ease-in-out;
						background-color:black;
						z-index:99;
					}
				}
				&:before{
					content: "";
					position: absolute;
					left: -20px;
					top: -10px;
					width: 45px;
					height: 45px;
					border: 1px solid white;
				}
				&:after{
					content: "";
					position: absolute;
					left: -20px;
					top: -10px;
					width: 0px;
					height: 47px;
					background-color:white;
					transition:0.5s ease-in-out;
				}
			}
			.swiper-button-prev{
				transform:scaleX(-1) translateY(-50%);
				left:50px;
			}
			.swiper-button-next{
				right:50px;
			}
			.swiper-button-disabled{display:none;}
			.swiper-wrapper{
				height:100%;
				.photo{
					height:100%;
					img{
						height:100%;
						width:100%;
					}
				}
			}
			.text{
				z-index: 10;
				position: absolute;
				width: 100%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				color: white;
				text-align: center;
				.title{
					animation-duration:5s;
					animation-name:appear2;
					transition:1s;
					font-style: italic;
					font-weight: 200;
					text-transform: uppercase;
					font-size: 3.5rem;
					letter-spacing: 1px;
				}
				.desc{
					text-transform:uppercase;
					animation-duration:5s;
					animation-name:appear;
					transition:1s;
					line-height: 105px;
					font-weight: 400;
					font-size: 8rem;
					font-weight:200;
				}
			}
		}
	}


@media screen and (max-width:1200px){
	.diapo .swiper-container .text .title{font-size:1.8rem;}
	.diapo .swiper-container .text .desc{font-size:6rem; line-height:normal;}
}
@media screen and (max-width:700px){
	.diapo .swiper-container .swiper-button-prev, .diapo .swiper-container .swiper-button-next{top:55%;}
	.diapo{height:70vh;}
	.diapo .swiper-container .text{width:60%;}
	.diapo .swiper-container .text .title{font-size:1.8rem;}
	.diapo .swiper-container .text .desc{font-size:2.9rem; line-height:normal;}
}
@media screen and (max-width:490px){
	.diapo .swiper-container .swiper-button-next{right:15px;}
	.diapo .swiper-container .swiper-button-prev{left:15px;}
		.diapo .swiper-container .text .title{font-size:1.7rem;}
	.diapo .swiper-container .text .desc{font-size:2.5rem; line-height:normal;}
}