.dispo{
	width:80%;
	margin:50px auto;
	position:relative;
	padding:40px;
	.bg{
		z-index:-1;
		opacity:0.2;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		img{
			width:100%;
			height:100%;
		}
	}
	.container{
		background:white;
		padding:40px;
		h2{
			padding-right:50%;
		}
		span{
			display:block;
			margin:20px 0;
		}
		form{
			display:flex;
			flex-wrap:wrap;
			.form-group{
				flex:none;
				width:33.3%;
				padding:10px;
				div{
					height:100%;
				}
				input{
					width:100%;
					background:#F4F4F4;
					color:black;
					border:none;
					padding:20px 20px;
					height:100%;
					&::placeholder{
						color:black;
						font-size:1.8rem;
					}
					&.arrive{
						font-size:1.8rem;
						content: attr(placeholder) !important;
						&:focus, &:valid:before{
							content:"";
						}
					}
					&.leave{
						font-size:1.8rem;
						content: attr(placeholder) !important;
						&:focus, &:valid:before{
							content:"";
						}

					}
				}
				input[type="date"]:before {
					content: attr(placeholder) !important;
					margin-right: 2.5em;
					font-size:1.8rem;
				}

				input[type="date"]:focus:before,input[type="date"]:valid:before {
					content: "";
				}
				textarea{
					border:none;
					width:100%;
					padding:10px 20px;
					background:#F4F4F4;
					height:200px;
					&::placeholder{
						color:black;
						font-size:1.8rem;
					}
				}
				select{
					width:100%;
					background:#F4F4F4;
					color:black;
					border:none;
					padding:20px 20px;
					height:100%;
					font-size:1.8rem;
					option{
						color:black;
						font-size:1.8rem;
					}

				}
				button{
					background: #EBDCD0;
					border: 1px solid #EBDCD0;
					color: black;
					padding: 10px 50px;
					font-size: 2rem;
					letter-spacing: 1px;
					transition:0.5s;
					&:hover{
						cursor:pointer;
						background:none;
						color:black;
					}
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7){
					width:30%;
				}
				&:nth-child(3), &:nth-child(6){
					width:40%;
				}
				&:nth-child(8){
					width:100%;
				}
				&:nth-child(9), &:nth-child(10){
					width:50%;
					input{
						width:unset;
						height:unset;
					}
				}
				&:nth-child(10){
					display:flex;
					justify-content:flex-end;
				}
			}
		}
	}
}

@media screen and (max-width:1500px){
	.dispo{width:100%;}
	.dispo .container form .form-group input{padding:20px 10px;}
}

@media screen and (max-width:1260px){
	.dispo .container h2{text-align:center; padding-right:0;}
	.dispo .container span{text-align:center;display:block;}
	.dispo .container form .form-group{width:100% !important; justify-content:center !important;}
	.dispo .container form .form-group div{text-align:center;}
}

@media screen and (max-width:550px){
	.dispo .container{padding:25px;}
	.dispo .container form .form-group input{font-size:1.5rem;}
	.dispo .container form .form-group select{font-size:1.5rem;}
	.dispo .container form .form-group textarea{font-size:1.5rem;}
	.dispo .container form .form-group .g-recaptcha{transform:scale(0.8);}
	.dispo .container form .form-group input[type="date"]:before{font-size:1.4rem; margin-right:1em;}
}