.grid-item--width20 { width: 20%; }
.grid-item--width22 { width: 22%; }
.grid-item--width30 { width: 30%; }
.grid-item--width40 { width: 40%; }
.grid-item--width50 { width: 50%; }
.grid-item--width56 { width: 56%; }
.grid-item--width60 { width: 60%; }
.grid-item--width100{ width: 100%; }

.grid-item--ratio75{padding-top:75%}
.grid-item--ratio40{padding-top:50%}
.grid-item--ratio40{padding-top:40%}
.grid-item--ratio30{padding-top:30%}
.grid-item--ratio25{padding-top:25%}
.grid-item--ratio20{padding-top:20%}

.absolute_top_left
{
  .absolute();
  top:0;
  left:0;
}

.gallery
{
  margin:50px 0;
  .grid
  {

    &:after
    {
      content:'';
      display: block;
      clear: both;
    }

    .grid-item.linked
    {
      position: relative;

      a
      {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        font-size: 1.9rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: black;
      }
    }

    .grid-item
    {
      float: left;
      width: 20%;
      .relative();
      img{
        transition:1s ease-in-out;
      }
      &:hover{
        .text{
          opacity:1;
          z-index:5;
          transition:0.5s;
        }
        img{
          transition:1s ease-in-out;
          transform:scale(1.3);
        }
      }
      .text{
        transition:0.5s;
        opacity:0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255,255,255,0.9);
        color:black;
        p{
          text-align:center;
          width:100%;
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
          text-transform:uppercase;
          font-size:1.8rem;
          font-weight:500;
        }
      }
      .photo
      {
        .absolute_top_left();
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;

        a
        {
          .w100();
          .h100();
        }
        img{
          opacity:1;
          height:100%;
          width:100%;
        }
      }

      &:nth-child(6n - 5)
      {
        .grid-item--width56();
        .grid-item--ratio25();
      }
      &:nth-child(6n - 4)
      {
        .grid-item--width22();
        .grid-item--ratio25();
      }
      &:nth-child(6n - 3)
      {
        .grid-item--width22();
        .grid-item--ratio25();
      }
      &:nth-child(6n - 2)
      {
        .grid-item--width22();
        .grid-item--ratio25();
      }
      &:nth-child(6n - 1)
      {
        .grid-item--width22();
        .grid-item--ratio25();
      }
      &:nth-child(6n)
      {
        .grid-item--width56();
        .grid-item--ratio25();
      }
    }
  }
}

@media all and (max-width:800px)
{
  .gallery
  {
    display:none;
    .grid
    {
      .grid-item:nth-child(9n),.grid-item:nth-child(9n - 1),.grid-item:nth-child(9n - 2),.grid-item:nth-child(9n - 3),.grid-item:nth-child(9n - 4),.grid-item:nth-child(9n - 5),.grid-item:nth-child(9n - 6),.grid-item:nth-child(9n - 7),.grid-item:nth-child(9n - 8)
      {
        .grid-item--width100();
        .grid-item--ratio75();
      }
    }
  }
}