.listing_elem{
	margin-top:20px;
	.element_block{
		margin:10px 0;
		padding: 55px 10%;
		.top{
			margin: 0 245px;
			margin-bottom:50px;
			h2{
				text-align:center;		
			}
			span{
				margin: 30px auto;
				text-align: center;
				display: block;
				font-size: 1.8rem;
			}
			.text{
				font-size:1.6rem;
				line-height:21px;
				text-align:center;
			}
		}
		.listing{
			display:flex;
			justify-content:center;
			flex-direction:row;
			.element{
				max-width:60%;
				padding:0 20px;
				flex:1;
				display: flex;
				flex-direction: column;
					.photo{
						position: relative;
						min-height:450px;
						overflow:hidden;
						img{
							position:absolute;
							height:100%;
							width:100%;
						}
					}
				.bottom{
					flex:1;
					padding: 25px 55px;
					display:flex;
					flex-direction:column;
					text-align:center;
					align-items:center;
					justify-content:center;
					background:#F4F4F4;
					.title{
						text-transform:uppercase;
						font-size:1.8rem;
						font-weight:700;
						text-align:center;
					}
					span{
						font-size:1.8rem;
						margin:15px 0;
					}
					.desc{
						font-size:1.6rem;
						line-height:21px;
						text-align:center;
					}
					a{
						margin-top: 40px;
						background-color: #EBDCD0;
						border: 1px solid #EBDCD0;
						color: black;
						font-weight: 400;
						font-size: 2rem;
						flex: none;
						letter-spacing: 0;
						padding: 0.5rem 1rem;
						transition: 0.5s;
						&:hover{
							background:none;
						}
					}
				}
			}
		}
		&:nth-child(2){
			background-color:#F4F4F4;
			.element{
				.bottom{
					background:white;
				}
			}
		}
	}
}

@media screen and (max-width:1390px){
	.listing_elem .element_block{padding: 55px 2%;}
	.listing_elem .element_block .listing .element .photo{min-height:340px;}
}

@media screen and (max-width:1090px){
	.listing_elem .element_block .top{margin:0 25px;}
	.listing_elem .element_block .listing .element .bottom{padding:25px;}
	.listing_elem .element_block .listing .element .bottom .desc{font-size:1.4rem;}
	.listing_elem .element_block .listing{flex-direction:column; align-items:center;}
	.listing_elem .element_block .listing .element{max-width:100%; margin:20px 0;}
}