.listing_elem2{
	display:flex;
	flex-direction:row;
	padding:0 10%;
	margin:50px 0;
	flex-wrap:wrap;
	justify-content:center;
	.element{
		margin:25px 0;
		max-width:25%;
		min-width:25%;
		padding:0 20px;
		flex:1;		
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:flex-start;
		.photo{
			width:100%;
			height:500px;
			img{
				width:100%;
				height:100%;
			}
		}
		.text{
			flex-direction:column;
			flex:1;
			background:#F4F4F4;
			display:flex;
			align-items:center;
			padding:30px 30px;
			width:100%;
			.title{
				text-transform:uppercase;
				font-weight:600;
				font-size:1.8rem;
			}
			span{
				margin:10px 0;
				font-size:2rem;
			}
			.desc{
				font-size:1.5rem;
				text-align:center;
			}
		}
	}
}

@media screen and (max-width:1850px){
	.listing_elem2{padding:0 2%;}
}

@media screen and (max-width:1490px){
	.listing_elem2 .element .text .title{text-align:center;}
	.listing_elem2 .element .text{padding:30px 10px;}
	.listing_elem2 .element{max-width:50%; min-width:50%;}
}

@media screen and (max-width:700px){
	.listing_elem2 .element{max-width:100%; min-width:100%;}
	.listing_elem2 .element .photo{height:350px;}
}