.special-carou-3899e9bb864f8eac62a59e159db657cb68fd4bab
{
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;

  a,.return_ajax
  {
    position: absolute;
    bottom: 0;
    right: 0rem;
  }

  .booknow
  {
    a
    {
      position: relative;
      padding: .8rem 3rem;
      margin-top: 3rem;
      display: inline-block;
      background: #ffffff;
      color: #464e84;
      font-weight: 400;
      font-size: 1.8rem;
      left: 0;
      border: 1px #ffffff solid;
      -webkit-transition: .3s all;
      -moz-transition: .3s all;
      -ms-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;

      &:hover
      {
        background: #464e84;
        color: #ffffff;
      }
    }
  }

  .return,.return_ajax
  {

    background: transparent;
    border: 0px #464e84 solid;
    height: 3rem;
    letter-spacing: 1px;
    border-bottom: 1px #464e84 solid;
    font-size: 1.6rem;
    padding: 0;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    cursor: pointer;

    &:hover
    {
      border-bottom: 1px rgba(0,0,0,0.3) solid;
    }
  }

  .carou_container {
    width: 60%;

    .swiper-container.perso
    {
      width: 100%;
    }
  }

  .global
  {
    position: relative;
    width: 35%;
    margin-left: 12.5%;
    margin-top: 5rem;

    .swiper-button-next,.swiper-button-prev
    {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 1px #464e84 solid;
      z-index: 5;
    }

    .swiper-button-next
    {
      right: -7rem;
    }

    .swiper-button-prev
    {
      left: -7rem;
    }

    .swiper-button-prev,.swiper-button-next
    {
      border: 1px rgba(0,0,0,0.5) solid;
      border-radius:100%;
      color:rgba(0,0,0,0.5);
      width: 5rem;
      height: 5rem;
      background-image:none;

      &:after,&:before
      {
        content:'';
        position: absolute;
        background: rgba(0,0,0,0.5);
        color: rgba(0,0,0,0.5);
        height: 1.5rem;
        width: 1px;
      }
    }

    .swiper-button-prev
    {
      &:after,&:before
      {
        left:45%;
      }
      &:after
      {
        top: calc(50% - 0.25rem);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:before
      {
        top: calc(50% - 1.35rem);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .swiper-button-next
    {
      &:after,&:before
      {
        left:55%;
      }

      &:after
      {
        top: calc(50% - 0.25rem);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:before
      {
        top: calc(50% - 1.35rem);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  .gallery-thumbs {
    width: 100%;
    margin: 0;

    .swiper-slide
    {
      .photo_box
      {

        &:after
        {
          padding-top: 100%;
        }

        .photo
        {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }
      }
    }
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;

    .photo_box
    {
      position: relative;

      &:after
      {
        content:'';
        position: relative;
        width: 100%;
        padding-top: 72%;
        display: block;
      }

      .photo
      {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        height: 100%;

        img
        {
          object-fit: cover;
        }
      }
    }
  }
  .gallery-top {
    height: 100%;
    width: 100%;
  }
  .gallery-thumbs {
    box-sizing: border-box;
  }
  .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }


  .content_box
  {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-10rem);
    z-index: 2;

    .content
    {
      background: #464e84;
      color: #ffffff;
      padding: 4rem;

      h2
      {
        font-family: Prata;
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@media all and (max-width: 1080px)
{
  .special-carou-3899e9bb864f8eac62a59e159db657cb68fd4bab
  {
    flex-direction: column;
    padding: 4rem 0;

    .content_box
    {
      order: 1;
      transform: translate(0);
      width: 100%;
    }

    .carou_container
    {
      order: 2;
      width: 100%;
    }

    .global
    {
      order: 3;
      width: 60%;
      margin-left: 20%;
    }

    .return,.return_ajax
    {
      color: #ffffff;
      left: 50%;
      transform: translate(-50%);
      text-transform: uppercase;
    }
  }
}