.tarif{
	margin:50px 10%;
	table{
		tbody{
			tr{
				font-size:1.7rem;
				&:first-child{
					background:#F4F4F4;
					font-size:2rem;
					font-weight:700;
					td{
						min-height:100px;
						height:100px !important;
					}
				}
				&:not(:first-child){
					td{
						&:not(:first-child){
							border:1px solid #F4F4F4;
						}
					}
				}
				td{
					vertical-align:middle;
					border:1px solid white;
					&:first-child{
						background:#EBDCD0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1290px){
	.tarif{margin:50px 1%;}
}

@media screen and (max-width:950px){
	.tarif table tbody tr:first-child{font-size:1.5rem;}
	.tarif table tbody tr{font-size:1.4rem;}
}

@media screen and (max-width:690px){
	.tarif table tbody tr:first-child{font-size:1.2rem;}
	.tarif table tbody tr{font-size:1.1rem;}
}