.text_diapo{
	display:flex;
	padding:100px 50px;
	flex-wrap:wrap;
	flex-direction:row;
	align-items:center;
	&.subtype2{
		.text{
			order:2;
		}
		.swiper-container{
			order:1;
		}
	}
	.text{
		padding: 0 50px;
		position:relative;
		width:45%;
		h2{
			color:black;
			font-weight:200;
			padding-right:50px;
			line-height:60px;
		}
		p{
			margin-top:30px;
			text-align:justify;
			font-size:14px;
			line-height:21px;
			color:black;
		}
		span{
			font-size:20px; 
			color:black;
		}
		.button{
			position: relative;
			position: absolute;
			border: 1px solid black;
			padding: 15px 20px;
			bottom: -90px;
			.arrow{
				cursor:pointer;
				display:inline-block;
				margin:0 10px;
				height:20px;
				overflow:hidden;
				width:20px;
				position:relative;
				span{
					display:inline-block;
					position:absolute;
					height:1px;
					width:100%;
					background-color:black;
					top:50%;
					left:0;
					transform:translateY(-50%);
				}
				span:first-child{
					transform: rotate(-45deg);
					transform-origin: top left;
				}
				span:last-child{
					transform-origin: bottom left;
					transform: rotate(45deg);
				}
				&:last-child{
					transform:scaleX(-1);
				}
			}
		}
	}
	.swiper-container{
		height: 450px;
		flex: 1;
		padding: 0 50px;
		position: relative;
		.bg{
			position:absolute;
			z-index:2;
			background-color:rgba(0,0,0,0.3);
			left:0;
			top:0;
			width:100%;
			height:100%;
		}	
		.swiper-button-prev, .swiper-button-next{
			background-image:none;
			z-index:20;
			position:absolute;
			top:50%;
			width:15px;
			height:25px;
			transform:translateY(-50%);
			&:before{
				content: "";
				position: absolute;
				left: -20px;
				top: -10px;
				width: 45px;
				height: 45px;
				border: 1px solid white;
			}
		}
		.swiper-button-prev{
			transform:scaleX(-1) translateY(-50%);
			left:50px;
		}
		.swiper-button-next{
			right:50px;
		}
		.swiper-button-disabled{display:none;}
		.swiper-wrapper{
			width:100%;
			height:100%;
			.photo{
				height:100%;
				img{
					height:100%;
					width:100%;
				}
			}
		}
	}
}

@media screen and (max-width:1650px){
	.text_diapo .text h2{padding-right:0;}

}

@media screen and (max-width:1490px){
	.text_diapo.subtype2, .text_diapo.subtype3{padding:50px 10px;}
	.text_diapo{padding:50px 70px;}
	.text_diapo .text .title{padding-right:0; font-size:4rem;}
}

@media screen and (max-width:1190px){
	.text_diapo{flex-direction:column; flex-wrap:unset;}
	.text_diapo .text{width:100%; padding:0; margin:0 20px; display:flex; flex-direction:column;}
	.text_diapo .text .button{position:relative; width:130px; margin-top:20px; margin-bottom:20px; bottom:unset; }
	.text_diapo .swiper-container{padding:unset; flex:unset; width:100%;}
}

@media screen and (max-width:650px){
	.text_diapo .text .title{text-align:center;}
	.text_diapo .text span{text-align:center; margin:0 auto; display:block;}
	.text_diapo{padding:50px 30px;}
	.text_diapo .text .button{margin:20px auto;}
}