.texte_simple{
	background:#F4F4F4;
	text-align:center;
	padding:50px 10%;
	.title{
		font-weight:bold;
		font-size:2.3rem;
	}
	span{
		font-size:1.8rem;
		margin:30px 0;
		display:block;
	}
	.desc{
		line-height:27px;
		font-size:1.6rem;
	}
}

@media screen and (max-width:490px){
	.texte_simple{padding:50px 5%;}
	.texte_simple .desc p{text-align:justify !important}
}