.text_photo{
	display:flex;
	flex-wrap:wrap;
	min-height:550px;
	flex-direction:row;
	&.subtype2{
		.container{
			padding-right:0;
			padding-left:20%;
		}
		.text{
			order:1;
		}
		.photo{
			order:2;			
		}
	}
	.text{
		flex: none;
		width: 50%;
		padding:30px;
		background-color:rgba(244,244,244,1);
		.container{
			display: flex;
			height: 100%;
			justify-content: center;
			flex-direction: column;
			background-color: white;
			padding: 65px 50px;
			padding-right: 20%;
			.title{
				width:100%;
				padding-right:260px;
				text-transform: uppercase;
				font-size: 5rem;
				letter-spacing: 1px;
				margin-bottom: 10px;
			}
			span{
				font-size:20px; 
				color:black;
			}
			p{
				margin-top: 30px;
				text-align: justify;
				font-size: 16px;
			}
			a{
				background-color: #EBDCD0;
				border: 1px solid #EBDCD0;
				color: black;
				font-weight: 400;
				font-size: 1.8rem;
				padding: 0.7rem 4rem;
				transition: 0.5s;
				position: relative;
				width: 170px;
				display: block;
				margin-top: 40px;
				&:hover{
					background:none;
					color:black;
				}
			}
		}
	}
	.photo{
		flex: none;
		width: 50%;
		position:relative;
		&:after{
			content:"";
			position:absolute;
			left:30px;
			top:30px;
			right:30px;
			bottom:30px;
			border:1px solid white;
		}
		img{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
		}
	}
}

@media screen and (max-width:1490px){
	.text_photo .text .title{padding-right:0; font-size:4rem;}
}

@media screen and (max-width:1090px){
	.text_photo{flex-direction:column;}
	.text_photo .photo{width:100%; height:500px; order:2;}
	.text_photo .text{width:100%; order:1;}
}

@media screen and (max-width:690px){
	.text_photo .text .container{padding-right:30px; padding:45px 30px;}
	.text_photo .text .container .title{text-align:center; padding-right:unset;}
	.text_photo .text .container span{display:block; text-align:center;}
	.text_photo .text .container a{margin: 20px auto; font-size:2rem; width:unset; display:unset;}
}