<footer>
	<ul class="ul">
		<li class="col">
			<div class="logo">
				<img src="{{ asset('img/logo-noir.png') }}"/>
			</div>


		</li>
		<li class="col">
			<div class="rub">Informations</div>
			<ul class="coords">
				{% for actualPage in pages %}
					<li class="{{ (actualPage is same as(page)) ? 'current' : '' }} {% if actualPage.childs | length %} withsubmenu{% endif %}">
						<a href="{{ path('page',{'_locale':locale,'slug':actualPage.url(locale).url }) }}">{{ actualPage.detail(locale).name }}</a>
					</li>
				{% endfor %}
			</ul>
		</li>

		<li class="col">
			<div class="rub">Contact</div>
			<ul class="coords">
				<li>
					<a href="tel:{{ infos.tel }}"><strong>{{ "Tel" | trans }} :</strong> {{ infos.tel }}</a>
					<a href="mailto:{{ infos.mail }}"><strong>{{ "Mail" | trans }} :</strong> {{ infos.mail }}</a>
				</li>

				<li>
					{{ infos.adress }}<br />
					{{ infos.cp }} {{ infos.city }}
				</li>
				<li>
					<ul class="social">
						<li><a class="facebook" target="_blank" href="{{ infos.facebook }}"><i class="fab fa-facebook-square"></i></a></li>
{#
						<li><a class="twitter" target="_blank" href="{{ infos.twitter }}"><i class="fab fa-twitter-square"></i></a></li>
						<li><a class="insta" target="_blank" href="{{ infos.insta }}"><i class="fab fa-instagram"></i></a></li>
						<li><a class="tripadvisor" target="_blank" href="https://www.tripadvisor.fr/Hotel_Review-g187141-d9804329-Reviews-Hotel_Des_Gouverneurs-Bastia_Haute_Corse_Corsica.html"><i class="fab fa-tripadvisor"></i></a></li>
						#}
					</ul>
				</li>
			</ul>
		</li>
		<li class="col">
			<div class="rub">Réalisation</div>
			<a href="https://www.leseditionscorses.com" class="edc" target="_blank">
				<img class="lazy" src={{ asset('img/logo_edc_dark.png') }} alt="Les éditions corses">
			</a>
			<ul class="coords">
				<li>
					<a href="mailto:web@e-corses.com">web@e-corses.com</a>
				</li>
				<li>    	<div>	<i class="far fa-copyright copy"></i>2019</div></li>

			</ul>
		</li>
	</ul>
</footer>
