{% import _self as recursiveMacro %}
{% macro recursivePage(page,locale,pageActive) %}
    {% import _self as self %}
    {% if page.remove == 0 %}

        <li>
            <a href="{% if page.url(locale) is not null%}
            {{ path('page',{'_locale':locale,'slug':page.url(locale).url}) }}
        {% endif %}" class="{{ (page == pageActive) ? 'active' : '' }}">
        {{  page.detail(locale).name}}
    </a>

    {% if page.childs |length %}
        <ul class="sub_menu">
            {% for child in page.childs %}
                {{ self.recursivePage(child,locale,pageActive) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endif %}
{% endmacro %}

<header>
    <div class="container">
        <div class="logo">
            <a href="{{path('homepage',{'_locale':locale})}}"><img src="{{ asset('img/logo-blanc.png') }}"/></a>
        </div>        
        <input class="menu-btn" type="checkbox" id="burger" />
        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul id="menu">
            {% for thisPage in pages %}
                {{  recursiveMacro.recursivePage(thisPage,locale,page) }}
            {% endfor %}
        </ul>
        <a class="contact" href="mailto:{{ infos.mail }}">{{ "Contactez-nous" | trans }}</a>
    </div>
</header>
<div class="burger">
    <span></span>
</div>
