
{% trans_default_domain 'app' %}
    <!doctype html>
    <html lang="{{ locale }}">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.detail(locale).metaTitle }}</title>
        <meta name="Description" content="{{ page.detail(locale).metaDesc }}"/>
        <meta name="Keywords" content="{{ page.detail(locale).metaKeys }}"/>
        <meta name="viewport" content="width=device-width"/>
        {# Transformer les fichiers less en fichier css a la mise en ligne#}
        {% if app.environment == 'prod' %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% else %}
            <link href="{{ asset('css/style.less') }}?v={{ random() }}" rel="stylesheet/less"/>
            <script src="{{ asset('js/lib/less.min.js') }}"></script>
            <script>less = { useFileCache: false }</script>
            {% endif %}

            {# Enlever en prod #}
            {% block css %}
            {% endblock css %}
            <script type="text/javascript">
            var root = "{{ asset('') }}";
            var lang_get = "{{ locale }}";
            var ImageObserver = null;
            var lazyImages = null;
            let dependances = [
            "{{ asset('js/lib/jquery/jquery.min.js') }}",
            "{{ asset('js/edc.min.js') }}",
            "{{ asset('js/header.js') }}",
            "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap",
            "{{ asset('js/lib/swiper/dist/js/swiper.min.js') }}",
            "{{ asset('js/lib/swiper/dist/css/swiper.min.css') }}",
            {% if jsZones is defined %}
            {% for zone in jsZones %}
            "{{ asset('js/zone/'~zone~'.js') }}",
            {% endfor %}
            {% endif %}

            {% block dep %}
            {% endblock dep %}
            ];
            </script>
            <script src="{{ asset('js/lazyLoad.min.js') }}"></script>
        </head>

        <body class="">
            <div class="loading">
                <h1 class="text-anim" data-text="Marina di Capitello">Marina di Capitello</h1>
                <div class="block"></div>
                <h2 class="text-anim2" data-text="Marina di Capitello">Marina di Capitello</h2>
            </div>
            {% include 'header.html.twig' %}
            {% block content %}
            {% endblock %}
            {% include 'footer.html.twig' %}

            <script src="{{ asset('js/load.js') }}" type="text/javascript"></script>
        </body>
        </html>