<div class="block_d">
	{% set i = 0 %}
	{% for elements in zone.pageLink.elementTypes %}
		{% set i = i + 1 %}
		<div class="element_block">
			<div class="img">
				<img src="{{ asset('img/house'~i~'.png') }}"/>
			</div>
			<div class="title">
				{{elements.title | raw}}
			</div>
			<span>.........................</span>
			<a class="know" href="{{path('page',{'slug':zone.pageLink.url(locale).url})}}#{{elements.name}}">{{ "Découvrir" | trans  }}</a>
		</div>
	{% endfor %}
</div>