<div id="{{ zone.type.name ~ '-' ~ zone.id }}" class="zone contact_form">
	<div class="bg paralax">
		{% for photo in zone.photos | slice (0,1) %}
			<div class="photo paralax" data-id="{{ photo.id }}">
			</div>
		{% endfor %}
	</div>
	<div class="container">
		<div class="infos">
			<h2 class="title">{{ zone.detail(locale).title | raw }}</h2>
			<span>. . . . . . . . . . .</span>
			<p>{{ infos.name}}</p>
			<p>{{ infos.adress}} {{ infos.cp }} {{ infos.city }}</p>
			</br>
			<p>Tel : <a href="">{{ infos.tel }}</a></p>
			</br>
			<p><a href="">{{ infos.mail }}</a></p>
		</div>
	<div class="form">
        {{ render(controller(
            'App\\Controller\\ContactController::contact',
            {
                '_locale': locale,
                'type' : 'contact'
            }
        )) }}
	</div>
</div>
</div>