<div class="zone contact">
	<div class="top">
		<div class="name">{{ infos.name }}</div>
		<span>..............</span>
		<div class="infos">
			{{ infos.adress }} - {{ infos.cp }} {{ infos.city }}</br>
			<a href="tel:{{ infos.tel }}">{{ "Tel" | trans }} : {{ infos.tel }}</a></br>
			<a href="tel:{{ infos.mobile }}">{{ "Tel" | trans }} : {{ infos.tel }}</a></br>
			<a href="mailto:{{ infos.mail }}">{{ "Mail" | trans }} : {{ infos.mail }}</a>
		</div>
	</div>
	<div class="bottom">
		<div class="gmap">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.8044328356614!2d8.80213186274873!3d41.90271185025577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12da6a9cb1f9e56d%3A0xb8a7c3769f196f5b!2smarina%20di%20capitello!5e1!3m2!1sfr!2sfr!4v1570093932300!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
		<div class="form">
			<div class="bg"><img src="{{ asset('img/bg.jpg') }}"/></div>
			<div class="container">
				<h2 class="title">{{ zone.detail(locale).title | raw }}</h2>
				<span>. . . . . . . . . . . . . .</span>
        {{ render(controller(
            'App\\Controller\\ContactController::contact',
            {
                '_locale':locale,
                'type' : 'contact'
            }
        )) }}
			</div>
		</div>
	</div>
</div>