<div class="diapo zone {{zone.subtype}}">
	<div class="swiper-container swiper" id="swiper1">
		<div class="bg">
		</div>
		<div class="swiper-wrapper">
			{% for photo in zone.photos %}
				<div class="photo swiper-slide" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
					<img alt="{{ zone.name }}" class="object-fit"/>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-button-prev arrow">
			<div class="arrow-top"></div>
			<div class="arrow-bottom"></div>
		</div>
		<div class="swiper-button-next  arrow">
			<div class="arrow-top"></div>
			<div class="arrow-bottom"></div>
		</div>
		<div class="text">
			<div class="title">{{ zone.detail(locale).title |raw }}</div>
			<div class="desc">{{ zone.detail(locale).description |raw }}</div>
		</div>
	</div>
</div>