<div class="dispo">
		<div class="bg"><img src="{{ asset('img/bg.jpg') }}"/></div>
		<div class="container">
			<h2>{{zone.detail(locale).title }}</h2>
			<span>. . . . . . . . . . . . .</span>
			{{ render(controller(
			'App\\Controller\\ContactController::contact',
			{
			'_locale': locale,
			'type' : 'dispo'
		}
		)) }}
	</div>
</div>