<!-- Necessite packery -->
<div class="gallery" id="{{ zone.detail(locale).slug }}">
    <div class="grid">
            {% for photo in zone.photos | slice(0,6) %}
                <div class="grid-item apparition">
                    <div class="photo" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
                        <a href="{{ asset('uploads/'~ photo.path) }}" alt="{{ zone.name }}" class="fancy absolute_top_left" data-fancybox="gallery"></a>
                        <img alt="{{ zone.name }}" class="object-fit"/>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>