<div class="listing_elem">
	{% set i = 0 %}
	{% for elementType in zone.pageLink.elementTypes %}
		{% set i = i + 1 %}
		<div class="element_block">
			<div class='top'>
				<h2>
					{{elementType.title | raw}}
				</h2>
				<span>....................</span>
				<div class="text">
					{% if i > 1 %}
						{{ (zone.detail(locale).descriptions['description' ~ i]) | raw }}
					{% else %}
						{{ zone.detail(locale).description | raw }}
					{% endif %}
				</div>
			</div>
			<div class="listing">				
				{% for element in elementType.elements %}
					<div class="element">
						{% for photo in element.photos | slice(0,1) %}
							<div class="box">
								<div class="photo" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
									<img alt="{{ zone.name }}" class="object-fit"/>
								</div>
							</div>
						{% endfor %}
						<div class="bottom">
							<div class="title">
								{{ element.name }}
							</div>
							<span>...............</span>
							<div class="desc">
								{{ element.detail(locale).description | raw }}
							</div>
							<a href="mailto:{{ infos.mail }}">{{ "Contactez-nous" | trans }}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>