<div class="zone listing_elem2 {{ zone.subtype }}">
	{% for element in page.elements %}
		<div class="element">
			{% for photo in element.photos %}
				<div class="photo" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
					<img alt="{{ zone.name }}" class="object-fit"/>
				</div>
			{% endfor %}
			<div class="text">
				<div class="title">{{ element.detail(locale).name }}</div>
				<span>........</span>
				<div class="desc">{{ element.detail(locale).description | raw }}</div>
			</div>
		</div>
	{% endfor %}
</div>