<div class="special-carou-3899e9bb864f8eac62a59e159db657cb68fd4bab zone">
    <div class="carou_container">
        <div class="swiper-container perso gallery-top">
            <div class="swiper-wrapper">
                {% for photo in page.photos | slice(0,5) %}
                    <div class="swiper-slide">
                        <div class="photo_box">
                            <div class="photo" data-id="{{ photo.id }}">
                                <img alt="{{ photo.detail(locale).title }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <div class="content_box">
        <div class="content">
            <h2>{{ page.detail(locale).title }}</h2>
            {{ page.detail(locale).description | raw }}
            <div class="booknow">
                <a href=""><span>{{ 'Réserver' | trans }}</span></a>
            </div>
        </div>
        <a href="{{ path('page',{'_locale':locale,'slug':zone.pageLink.url(locale).url}) }}"><button class="return">Retour</button></a>
    </div>
    <div class="global">
        <div class="swiper-container perso gallery-thumbs">
            <div class="swiper-wrapper">
                {% for photo in page.photos | slice(0,5) %}
                    <div class="swiper-slide">
                        <div class="photo_box">
                            <div class="photo" data-id="{{ photo.id }}">
                                <img alt="{{ photo.detail(locale).title }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>