<div class="zone texte_simple">
	<div class="title">{{ zone.detail(locale).title | raw }}</div>
	<span>....................</span>
	<div class="desc">{{ zone.detail(locale).description | raw }}</div>
</div>