<div class="text_diapo {{ zone.subtype}}">
	<div class="text">
		<div class="content">
			<h2 class="title">{{ zone.detail(locale).title | raw }}</h2>
			<span>. . . . . . . . . . .</span>
			{{ zone.detail(locale).description |raw }}
		</div>
		<div class="button">
			<div class="swiper-button-prev2 arrow" id="swiper-prev2">
				<span></span>
				<span></span>
			</div>
			<div class="swiper-button-next2  arrow" id="swiper-next2">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="swiper-container swiper" id="swiper2">
		<div class="swiper-wrapper">
			{% for photo in zone.photos %}
				<div class="photo swiper-slide" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
					<img alt="{{ zone.name }}" class="object-fit"/>
				</div>
			{% endfor %}
		</div>
	</div>
</div>