<div class="text_photo {{ zone.subtype }} ">
	{% if zone.pageLink is defined %}
		{% for photo in zone.pageLink.photos %}
			<div class="photo linked" data-id="{{photo.id}}" data-name="{{ fileName(photo,locale) }}">
				<img alt="zone.name" class="object-fit"/>
			</div>
		{% endfor %}
	{% else %}
		{% for photo in zone.photos %}
			<div class="photo" data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
				<img alt="{{ zone.name }}" class="object-fit"/>
			</div>
		{% endfor %}
	{% endif %}
	<div class="text">
		<div class="container">
			{% if zone.pageLink is defined %}
				<h2 class="title linked">{{ zone.pageLink.name | raw }}</h2>
			{% else %}
				<h2 class="title">{{ zone.detail(locale).title }}</h2>
			{% endif %}
			<span>. . . . . . . . . . .</span>
			{{ zone.detail(locale).description |raw }}
			<a href="{{path('page',{'slug':zone.pageLink.url(locale).url})}}">
				{{ "Découvrir" | trans  }}
			</a>
		</div>
	</div>
</div>